<!-- NAME: RosterSU01.tpl -->
<!--Start Header-->
<html>
<head>
	<title>{PageTitle}</title>
<META NAME="description" CONTENT="">
  <META NAME="author" CONTENT="Infomap - Team@Work - T. Dimitropoulos/e-mail:thimios@infomap.gr">
  <META NAME="dbauthor" CONTENT="Infomap - Team@Work - A.Papachrysanthou/e-mail:Anthony@infomap.gr">  
  <META NAME="author" CONTENT="Infomap - Team@Work - G. Fourlanos/e-mail:fou@infomap.gr">
  <META NAME="Art designer" CONTENT="Infomap - Team@Work - S. Rallis/e-mail:stratos@infomap.gr">  
  <META HTTP-EQUIV="Reply-to" CONTENT="webmaster@infomap.gr">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1253">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-7">
  <META HTTP-EQUIV="Expires" CONTENT="webmaster@infomap.gr">
	
  
  <META HTTP-EQUIV="Expires" CONTENT="{Cexpires}">

 <!-- <SCRIPT  LANGUAGE="JavaScript1.2" SRC="webfxjs/Calendar1-901.js"></SCRIPT>-->
  
  
  <script language="JavaScript1.2" src="webfxjs/tooltip.js"></script>

  <script language="JavaScript1.2">
  function neww(target,title,width,height)
	{
		newWindow=window.open( target,title,"toolbar=no,width=" + width + ",height=" + height +" ,directories=no,status=no,scrollbars=yes,menubar=no");
		newWindow.focus();
	}
	
	function myPassword() {
		neww("myPassword.php","MyPassword",400,200)
	}
	function resetPassword() {
		neww("ChangePassword.php","ChangePassword",500,500)
	}
	
  </script>
  <!--<script language="JavaScript1.2" src="webfxjs/genmove.js"></script>-->
  <link rel="STYLESHEET" type="text/css" href="style/style.css">


</head>
<body bgcolor="#9CC6FF" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0">

<table width="1004" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="left" valign="top"><img src="pics/toprms800x600.jpg" alt="" width="785" height="94" border="0"></td>
</tr>
<!--<tr>
	<td  align="right" valign="top" background="pics/bar.gif">
	&nbsp;</td>
</tr>
<tr>
	<td valign="top"><img src="pics/dot.gif" width="1" height="10" alt="" border="0"></td>
</tr>-->
<tr>
	<td><font class="Normal"><strong>Welcome {UserName}</stong></font></td>
</tr>
</table>
<br>
<form name="DutyRosterForm" action="{PHP_SELF}" method="post">
<input type="hidden" name="debug" value="{debug}">

<table>
	<tr>
<!--			<td><font class="Normal"><a href="javascript:void(0);" onClick="show_calendar('DutyRosterForm.DateFrom',null,'','YYYY-MM-DD','','Title=Date From;CurrentDate={CurrentDate};Fix=Yes;')">Date From</A></font></td>
	<td><input type="text" name="DateFrom" size="10" value="{DateFrom}" readonly></td>-->
		<td>&nbsp;</td>
		<td><font class="Normal"><strong>Org Unit : </strong></font></td>
		<td><select Name="OrgUnitCode">
			<!--BeginOrgUnit-->
				<option value="{DPT1}" {Selected}>{DPTN}
		   <!--EndOrgUnit-->
		</select></td>
		<td>&nbsp;</td>
	</tr>

<!--BeginOrgFunction-->
	<tr>
<!--			<td><font class="Normal"><a href="javascript:void(0);" onClick="show_calendar('DutyRosterForm.DateTo',null,'','YYYY-MM-DD','','Title=Date To;CurrentDate={CurrentDate};Fix=Yes;')">Date To</A></font></font></td>
	<td><input name="DateTo" type="text" size=10 value="{DateTo}" readonly></td>-->
		<td>&nbsp;</td>
		<td><font class="Normal"><strong>Function : </strong></font></td>
		<td><select name="FunctionCode[]" multiple>
			<!--BeginFunction-->
				<option value="{FCTC}" {Selected}>{FCTN}
		   <!--EndFunction-->
		</select></td>
		<td>&nbsp;</td>
	</tr>
<!--EndOrgFunction-->	

<!--BeginNoRosterLevel-->
	<tr>
		<td>&nbsp;</td>
		<td><font class="Normal"><strong>Roster Level: </strong></font></td>
		<td><select Name="rosl">
			<!--BeginRosterLevel-->
				<option value="{rosl}" {Selected}>{rosl}
		   <!--EndRosterLevel-->
		</select></td>
		<td>&nbsp;</td>
	</tr>
<!--EndNoRosterLevel-->	
	
<!--BeginMonthFunction-->
	<tr>
<!--			<td><font class="Normal"><a href="javascript:void(0);" onClick="show_calendar('DutyRosterForm.DateTo',null,'','YYYY-MM-DD','','Title=Date To;CurrentDate={CurrentDate};Fix=Yes;')">Date To</A></font></font></td>
	<td><input name="DateTo" type="text" size=10 value="{DateTo}" readonly></td>-->
		<td>&nbsp;</td>
		<td><font class="Normal"><strong>Choose Month : </strong></font></td>
		<td><select Name="Year_Month">
			<!--BeginMonth-->
				<option value="{MonthId}" {Selected}>{MonthName}
		   <!--EndMonth-->
		</select></td>
		<td>&nbsp;</td>
	</tr>
<!--EndMonthFunction-->	

	<tr>
		<td colspan="10"><hr></td>
	</tr>
<!--BeginDspDateFromTo-->	
<tr>
		<td>&nbsp;</td>
		<td align="left"><font class="Normal"><strong>Date From : {DspDateFrom}</strong> </font></td>
		<td>&nbsp;</td>
		<td align="left"><font class="Normal"><strong>Date To : {DspDateTo}</strong></font></td>
</tr>
<!--EndDspDateFromTo-->
	<tr>
		<td colspan="2"><input type="submit" value="{btnValue}"></td>
<!--BeginDspbtnValueOrg-->	
		<td colspan="2"><input type="submit" name="btnValueOrg" value="{btnValueOrg}"></td>
<!--EndDspbtnValueOrg-->		
</form>	

<form name="DutyRosterExportForm" action="{PHP_SELF}" method="post">
<input type="hidden" name="debug" value="{debug}">
<input type="hidden" name="rosl" value="{Srosl}">
<input type="hidden" name="FunctionCode" value="{FunctionCode}">
<input type="hidden" Name="OrgUnitCode" value="{OrgUnitCode}">
<input type="hidden" Name="ExportXls" value="True">
<input type="hidden" Name="Year_Month" value="{CurrentMonth}">
<!--BeginExport-->
		<td colspan="5"><input type="submit" value="Export To Excel" ></td>
<!--EndExport-->
</form>
<form  name="MyPassword" action="{PHP_SELF}" method="post">
		<td><input type="submit" value="Change My password" onClick="myPassword()"></td>
</form>
<form  name="ChangePassword" action="{PHP_SELF}" method="post">
		<td><input type="submit" value="Reset passwords" onClick="resetPassword()"></td>
</form>

<form name="DutyRosterLogOutForm" action="index.php" method="post">
		<td><input type="submit" value="Log Out"></td>
	</tr>
</form>
</table>
<!--BeginLegend-->
<div class="moveme" style="position: absolute; overflow: hidden; width: 80px; height: 18px; z-index: 20; BORDER: black 1px solid; BACKGROUND-COLOR: beige;" onMouseOver="this.style.overflow='visible';" onMouseOut="this.style.overflow='hidden';">
	<font class="TrHeader">&nbsp;&nbsp;Legend:</font><br>
	<div style="width:550px;BORDER:black 1px solid;BACKGROUND-COLOR:beige">
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td valign="top">
				<table border="1" cellspacing="0" cellpadding="0">
				<tr>
					<td><font class="TrHeader"><strong>Code</strong></font></td> 
					<td><font class="TrHeader"><strong>Shift Time</strong></font></td>
					<td><font class="TrHeader"><strong>Break Time</strong></font></td>
				</tr>
				<!--BeginBSD-->
				<tr>
					<td><font class="TrHeader">{BSDC}</font></td>
					<td><font class="TrHeader">{Time}</font></td>
					<td><font class="TrHeader">{BreakTime}</font></td>
				</tr>
				<!--EndBSD-->
				</table>
			</td>
			<td valign="top">
				<table border="1" cellspacing="0" cellpadding="0">
				<tr>
					<td><font class="TrHeader"><strong>Code</strong></font></td> 
					<td><font class="TrHeader"><strong>Remark</strong></font></td>
				</tr>
				<!--BeginODA-->
				<tr>
					<td><font class="TrHeader">{SDAC}</font></td>
					<td><font class="TrHeader">{SDAN}</font></td>
				</tr>
				<!--EndODA-->
				</table>
			</td>
		</tr>
		</table>
	</div>
</div>
<!--EndLegend-->

<!--BeginNoResults-->
<br>
<div name="StaffTable">
<table cellpadding=0 cellspacing=0 border=0>
	<tr>
		<td colspan="2" align="center"><font class="TrHeader"><strong>Last updated : {Lstu}</strong></font></td>
	</tr>
	<tr>
		<td valign=top>
			<table cellpadding=0 cellspacing=0 border=1>
				<tr><th><font class="TrHeader">Employee<br><br></font></th></tr>
				<!--BeginStaffNames-->
				<tr><th align="left" bgcolor="{Staffbgcolor}"><font class="TrHeader">{Fname}</font></th></tr>
				<!--EndStaffNames-->
				<tr><td><font class="TrHeader">&nbsp;<br><br></font></td></tr>
				<!--BeginDailyStatsScod-->
				<tr><th align="left"><font class="TrHeader">{Scod}</font></th></tr>
				<!--EndDailyStatsScod-->
			</table>
		</td>
		<td width="580" valign="top" bgcolor="#C0C0C0">
			<span style="overflow:scroll;width:580;">
				<table cellpadding=0 cellspacing=2 border=0 style="text-align:center;">
					<tr>
						<!--BeginDates-->
							<th bgcolor="{DatebgColor}" align="center"><font class="TrHeader">{DateName}<br>{DateNum}</font></th>	
						<!--EndDates-->
					</tr>
					<!--BeginDrrDates0-->
					<tr>
						<!--BeginDrrDates-->
							<td bgcolor="{ScodColor}"><font class="TrHeader" style="cursor: pointer;" tooltip="{ToolTipScod}">{Scod}</font></td>
						<!--EndDrrDates-->
					</tr>
					<!--EndDrrDates0-->
					<tr>
						<!--BeginDates-->
							<th bgcolor="{DatebgColor}" align="center"><font class="TrHeader">{DateName}<br>{DateNum}</font></th>	
						<!--EndDates-->
					</tr>
					<!--BeginDrrStats0-->
					<tr>
						<!--BeginDailyStats-->
							<td bgcolor="#ffffff"><font class="TrHeader" >{StatNumber}</font></td>
						<!--EndDailyStats-->
					</tr>
					<!--EndDrrStats0-->
				</table>
			</span>
		</td>
	</tr>
</table>
</div>
<!--EndNoResults-->



<!--BeginPerf-->
<div onmouseover="this.style.overflow='visible';" onmouseout="this.style.overflow='hidden';" class="moveme" style="position: relative;overflow:hidden;width:80px;height:18px;z-index:20;BORDER:black 1px solid;BACKGROUND-COLOR:beige">
	<font class="TrHeader">Performance:</font><br>
	<div style="width:550px;BORDER:black 1px solid;BACKGROUND-COLOR:beige">
		{PerfOutPut}
	</div>
</div>
<!--EndPerf-->


</body>
</html>

<!--End Footer-->
<!-- END: RosterSU01.tpl -->