  <STYLE TYPE="text/css">
	.atmp{}

	.TDTitleArrival{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Verdana,Arial;
		color : #ffffff;
		background : #004AD6;
		text-align : center;
	}
	.TDTitleDeparture{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Verdana,Arial;
		color : #ffffff;
		background : #004AD6;
		text-align : center;
	}

	.TDTitleAirline{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Verdana,Arial;
		color : #ffffff;
		background : #004AD6;
		text-align : center;
	}
	.TDTitleCity{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Verdana,Arial;
		color : #ffffff;
		background : #004AD6;
		text-align : center;
	}

	.InfTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Verdana,Arial;
		color : #000000;
	}
	.PageTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Verdana,Arial;
		color : #000000;
		font-weight : bold;
	}

	.TDArrival0{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#FFEBAD;text-align : center;}
	.TDArrival1{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#9CC6FF;text-align : center;}
	.TDDeparture0{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#FFEBAD;text-align : center;}
	.TDDeparture1{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#9CC6FF;text-align : center;}

	.TDArrivalLeft0{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#FFEBAD;}
	.TDArrivalLeft1{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#9CC6FF;}
	.TDDepartureLeft0{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#FFEBAD;}
	.TDDepartureLeft1{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#9CC6FF;}

	.TDairline0{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#FFEBAD;text-align : center;}
	.TDairline1{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#9CC6FF;text-align : center;}
	.TDcity0{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#FFEBAD;text-align : center;}
	.TDcity1{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;background:#9CC6FF;text-align : center;}

	.FrontMenu{
		font-size:20pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Verdana,Arial;
		color : #000000;
		background: #CEDEE3;
		margin-left : 4;
		margin-right : 4;
	}
	.Menu{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000}
	.Normal{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000}
	.ABB{font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Verdana,Arial;color : #000000;font-weight : bold;margin-left : 4;margin-right : 4;}
	.SearchTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Verdana,Arial;
		color : #ffffff;
		font-weight : bold;
	}
	.NoRows{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color : #001A5D}
	.error{font-size:12pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color : red}
	.RowsFound{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
</STYLE>

