.hdr{font-family:verdana,arial,helvetica,sans-serif;font-size:65pt;text-align:center;text-valign:center;}
.tblHdr{font-family:"Arial,Times New Roman";font-size:30pt;background-color:"#CCCCCC";text-align:center;text-valign:center;}
.infor{font-family:Arial,Tahoma; font-size:10;text-align:right;text-valign:center;}
.dat{font-family:Tahoma;font-size:25pt;text-align:center;text-valign:center;}
.bFb{background-color:"#CCFFCC";text-align:center;text-valign:center;}
.bLb{background-color:"#FF3300";text-align:center;text-valign:center;}
.bCl{background-color:"#FFFF99";text-align:center;text-valign:center;}
.bFbw{background-color:"#CCFFCC";cursor:hand;text-align:center;text-valign:center;}
.erHdr{font-family:verdana,arial,helvetica,sans-serif;font-size:40pt;text-align:center;text-valign:center;}
.msgB{font-family:verdana,arial,helvetica,sans-serif;font-size:20pt;color:"#FF3300";text-align:center;text-valign:center;}
.msgS{font-family:verdana,arial,helvetica,sans-serif;font-size:14pt;color:"#FF3300";text-align:center;text-valign:top;}
.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000;font-weight: bold;}

