body {
	overflow: hidden;
	/* background-color: #d992c4; */
	margin: 0px 0px 0px 0px;
}

#main {
background-color: #d992c4;
width: 852px;
height: 480px;

}

.timedisplay {
	left: 0px;
	bottom: 0px;
	height: 35px;
	width: 80px;
	background-color: #d992c4;
	position: absolute;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
	color: #000000;
  text-align: center;
  padding-top: 4px;
}

/* 
Colors and size of cells for departure display
_hi for light colors background
_lo for low color background
 */
 
 .light_grey {
  background-color: #505050;
  height: 32px;
   color: #ffffff;
}
.dark_grey {
  background-color: 202020;
  height: 32px;
   color: #ffffff;
}

.headline {
  font: normal normal bold 20px Arial, Helvetica, sans-serif;
  text-align: center;
  height: 35px;
}
.logo {
  background-color: 202020;
  height: 200px;
  text-align: center;
}

.arrived {
  background-color: #505050;
  color: #ffffff;
  font: normal normal bold 34px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 33%;
  height: 140px;
}
.flight {
  background-color: #505050;
  color: #ffffff;
  font: normal normal bold 60px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 34%;
  height: 140px;
}

.airport {
  background-color: #202020;
  color: #ffffff;
  font: normal normal bold 50px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 70px;
}


.foot {
  font: normal normal bold 16px Arial, Helvetica, sans-serif;
  text-align: center;
  height: 35px;
}