body {
	overflow: hidden;
	/* background-color: #d992c4; */
	margin: 0px 0px 0px 0px;
}

#main {
background-color: #d992c4;
width: 852px;
height: 480px;

}

.timedisplay {
	width: 10%;
	background-color: #d992c4;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
	color: #000000;
  text-align: center;
}

/* 
Colors and size of cells for departure display
_hi for light colors background
_lo for low color background
 */
 
 .light_grey {
  background-color: #505050;
  height: 32px;
   color: #ffffff;
}
.dark_grey {
  background-color: 202020;
  height: 32px;
   color: #ffffff;
}

.headline {
  font: normal normal bold 20px Arial, Helvetica, sans-serif;
  text-align: center;
  height: 35px;
}
.logo {
  background-color: 202020;
  height: 410px;
  text-align: center;
}

.flight {
  background-color: #505050;
  color: #ffffff;
  font: normal normal bold 50px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 33%;
  height: 70px;
}
.departuretime {
  background-color: #505050;
  color: #ffffff;
  font: normal normal bold 50px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 34%;
  height: 70px;
}
.revised {
  background-color: #505050;
  color: #ffffff;
  font: normal normal bold 30px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 33%;
  height: 70px;
}

.airport {
  background-color: #202020;
  color: #ffffff;
  font: normal normal bold 50px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 70px;
}

.class {
  background-color: #505050;
  color: #ffffff;
  font: normal normal bold 30px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 410px;
}

.foot {
  font: normal normal bold 16px Arial, Helvetica, sans-serif;
  text-align: center;
  height: 35px;
  width: 90%;
}