  <STYLE TYPE="text/css">
	.atmp{}

	.TableColHeader{
		margin-top: 5pt;
		margin-bottom: 5pt;
		margin-left: 0pt;
		margin-right: 0pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:bold;
		color : #FFFFFF;
		background : #365565;
		text-align : left;
		text-decoration:none; 
		border-style: none;
	}
        .TableColHeader2{
                margin-top: 5pt;
                margin-bottom: 5pt;
                margin-left: 0pt;
                margin-right: 0pt;
                font-family:Arial,Tahoma,Verdana;
                font-weight:600;
                color : #000000;
                background : #6D818F;
                text-align : left;
                text-decoration:none;
                border-style: none;
        }
        .TableColHeader3{
		margin-top:5pt;
		margin-bottom:5pt;
		margin-left:0pt;
		margin-right:0pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:bold;
		color: #FFFFFF;
		textalign : center;
		text-decoration:none;
		border-style: none;
	}
	.PageTitle{
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial;
                color : #1B1B1D;
		font-weight:bold;
	}

	<!-- Arrival Styles -->
	.TDArrivalleft0{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500; color: #000000; background:#CBDAE2; text-align: left; vertical-align:middle; border-color: #FFFFFF; border-top:none;border-left: none; border-right:solid;border-right-color:white;border-right-width:1px; border-bottom:solid;border-bottom-color:white;border-bottom-width:1px}

	.TDArrivalleft1{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #000000;background:#F9E3B7;text-align : left; vertical-align:middle; border-color: #FFFFFF; border-top:none;border-left: none; border-bottom:none;border-right:solid;border-right-color:white;border-right-width:1px;}
	.TDArrivalleft2ndColColor{color: #blue;}

	.TDArrival0{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #000000;background:#FCD484;text-align : left; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrival1{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #000000;background:#F9E3B7;text-align : center; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrival2ndColColor{color: #14242C;}

	.TDArrivalNoshow0{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #FCD484;background:#FCD484;text-align : center;vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalNoshow1{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #F9E3B7;background:#F9E3B7;text-align : center; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalNoshow2ndColColor{}

	.TDArrivalNoshowleft0{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #FCD484;background:#FCD484;text-align : left;vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalNoshowleft1{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #F9E3B7;background:#F9E3B7;text-align : left; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalNoshowleft2ndColColor{}

	<!-- Departure Styles -->
	.TDDepartureleft0{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:800;color : #000000;background:#D6E1E9;text-align : left; vertical-align:middle;border-left:none;border-top:none;border-right:solid;border-right-color:white;border-right-width:1px;border-bottom:solid;border-bottom-color:white;border-bottom-width:1px;}
 
	.TDDepartureleft1{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:800;color : #000000;background:#ADC6D3;text-align : left; vertical-align:middle;border-bottom:solid;border-bottom-color:white;border-bottom-width:1px;border-left:none; border-right:solid;border-right-color:white;border-right-width:1px; border-top:none;} 
	.TDDepartureleft2ndColColor{color: #14242C;}

	.TDDeparture0{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:800;color : #000000;background:#D6E1E9;text-align : center; vertical-align:middle;border-bottom:solid;border-bottom-color:white;border-bottom-width:1px;border-right:solid;border-right-color:white;border-right-width:1px;}

	.TDDeparture1{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:800;color : #000000;background:#ADC6D3;text-align : center; vertical-align:middle;border-bottom:solid;border-bottom-color:white;border-bottom-width:1px;border-right:solid;border-right-color:white;border-right-width:1px;}
	.TDDeparture2ndColColor{font-weight:800;color: #14242C;}

	.TDDepartureNoshow0{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #FCD484;background:#D6E1E9;text-align : center;vertical-align:middle;border-bottom:solid;border-bottom-color:white;border-bottom-width:1px;border-right:none;border-top:none;border-right:solid;border-right-color:white;border-right-width:1px;}
	.TDDepartureNoshow1{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #F9E3B7;background:#ADC6D3;text-align : center; vertical-align:middle;border-top:none;border-right:solid;border-right-color:white;border-right-width:1px;border-left:none;border-bottom:solid;border-bottom-color:white;border-bottom-width:1px;}
	.TDDepartureNoshow2ndColColor{border-left:none;border-top:none;}

	.TDDepartureNoshowleft0{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #FCD484;background:#D6E1E9;text-align : left;vertical-align:middle;border-color: white;border-left:none;border-top:none;border-bottom:solid;border-bottom:solid;border-bottom-color:white;border-bottom-width:1px;border-right:solid;border-right-color:white;border-right-color:white;border-right-width:1p;}
	.TDDepartureNoshowleft1{white-space:nowrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #F9E3B7;background:#ADC6D3;text-align : left; vertical-align:middle;border-left:none;border-top:none;border-right:solid;border-right-color:white;border-right-width:1px;border-bottom:solid;border-bottom-color:white;border-bottom-width:1px;}
	.TDDepartureNoshowleft2ndColColor{}

	.FrontMenu{
		
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #000000;
		background: #FFFFFF;
		margin-left : 0;
		margin-right : 0;
	}
	.info{ margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Arial,Verdana;color : white}
	.Menu{white-space:wrap;  margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;font-weight:Bold;color : #1B1B1D}
        .Menua{white-space:wrap;margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Arial,Verdana;font-weight:Bold;color : #1B1B1D} 
 .Menux{white-space:wrap;  margin-top: 0pt; margin-bottom:
0pt;font-family:Tahmoma,Arial,Verdana;font-style:Blink;color : #1B1B1D}	
        .Normal{font-weight:Bold; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.NormalDisabled{ margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : gray}
	.SearchTitle{
		
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #FFFFFF;
                font-weight : bold;
	}
	.NoRows{ margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #8000FF}
	.Clock{ margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:none;}
	#SearchDiv	{position: absolute; top: 600px; left: 300px; padding: 3px; margin: 5px;behavior:url("webfxjs/genmove.htc");VISIBILITY: hidden;}
	.TOOLTIPSTYLE{background: yellow; color: infotext; font-family:Tahoma,Arial,Verdana;  padding: 1; border: 1 solid black}
</STYLE>

