		<!--Start Results-->
     <FORM ACTION="{PHP_SELF}" METHOD="POST">
		<TABLE BORDER=0 CELLSPACING=0>
        <TR>
            <TH ALIGN=CENTER class="RowsFound">
                <NOBR>{RecordCount} {HeadingTitle} &nbsp;&nbsp;&nbsp;&nbsp; {currentpage}  {pagecount}</NOBR>
            </TH>
        </TR>
        <TR>
            <TD align="center">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;&lt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;    ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="    &gt;   ">
	                 <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &gt;&gt;   ">
                    <!--INPUT TYPE="Submit" NAME="list_PagingMove" VALUE=" Επανεκτέλεση "-->
            </TD>
        </TR>
        </TABLE>
		<TABLE {ztabhtml}>
			<tr>{TableHeader}</tr>
			<!-- BEGIN DYNAMIC BLOCK: Rows -->			
			<tr>{TableRows}</tr>	
		   <!-- END DYNAMIC BLOCK: Rows -->
		</TABLE>   
		<TABLE BORDER=0 CELLSPACING=0>
        <TR>
            <TD align="center">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;&lt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;    ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="    &gt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &gt;&gt;   ">
                    <!--INPUT TYPE="Submit" NAME="list_PagingMove" VALUE=" Επανεκτέλεση "-->

                    <INPUT TYPE="hidden" NAME="movenext" VALUE="{CurrentRow}">
                    <INPUT TYPE="hidden" NAME="prevrows" VALUE="{rows}">
					{SearchValues}
					<input type="hidden" name="type" value="{type}">
					<input type="hidden" name="TMPL_MENUID" value="{TMPL_MENUID}">
            </TD>
        </TR>
        </TABLE>
	</FORM>

		<!--End Results-->
