<!-- NAME: inf.tpl -->
<!--Start Header-->
<html>
<head>
	<title>{PageTitle}</title>

  <META NAME="author" CONTENT="Infomap/Greece - Team@Work">
  <META NAME="dbauthor" CONTENT="Infomap/Greece & ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META NAME="Art designer" CONTENT="Infomap/Greece & ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META NAME="co-author" CONTENT="ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META NAME="Art design" CONTENT="Infomap/Greece & ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META HTTP-EQUIV="Reply-to" CONTENT="Infomap/Greece & ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META HTTP-EQUIV="pragma" content="no-cache">
  <META HTTP-EQUIV="expires" content="0">
  <META HTTP-EQUIV="cache-control" content="no-cache">
  <META HTTP-EQUIV="Content-Type" content="text/html; charset=ISO-8859-1">
  <META HTTP-EQUIV="Refresh" CONTENT="{Refresh}">
  <META HTTP-EQUIV="Expires" CONTENT="{Cexpires}">

  <link rel="STYLESHEET" type="text/css" href="style/{STYLESHEET}">
  <link rel="STYLESHEET" type="text/css" href="style/tablesort.css">

<script type="text/javascript" src="webfxjs/tooltip.js"></script>
<script type="text/javascript" src="webfxjs/tablesort.js"></script>
<script type="text/javascript" src="webfxjs/genfunctions.js"></script>
<!-- 20060727 JIM: PRF 8208: Calendar style date input -->
<script type="text/javascript" src="webfxjs/calendar/calendar.js"></script>
<script type="text/javascript" src="webfxjs/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="webfxjs/calendar/calendar-en.js"></script>
<style type="text/css"> @import url("webfxjs/calendar/calendar-system.css"); </style>
<script language="JavaScript"><!--
function ResetValues() {
}
// -->

</script>
<!-- 20060727 JIM: PRF 8202: Begin: set focus to first search field -->
<!--BeginSetFocus-->
<script language="JavaScript"><!--
function SetMyFocus() {
      
}
-->
</script>
<!--EndSetFocus--> 
<!-- 20060727 JIM: PRF 8202: End: set focus to first search field -->


</head>
<body bgcolor="#FFFFFF" text="#000000" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 link="#000000" vlink="#000000" alink="#000000" onload="showtime();" >
{overlib}
<table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	<td align="center" valign="top"></td>
	<td>{Debugmsg}</font></td>
</tr>
<tr>
	<td  align="center" valign="top"  width="100%" bgcolor="orange">
		<table border=0 width="100%">
			<tr>
		    	<td  align="left" valign="top"><img height=30 src="pics/ufis.gif" alt="" border="0"></td>
				<td align="left">
					<font class="PageTitle">{ConnectionInfo}</font>
				</td>
				<td align="center" width="80%"><font class="PageTitle">{PageTitle}</font></td>
				<td align="right"><a href="{PHP_SELF}?Lang=ENG">English</a>|<a href="{PHP_SELF}?Lang=TR">Polish</a></td>
				<td align="right" width="33%"><div id="DateTime"></div></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<!--td bgcolor="#FEB501"><width="11" height="10" alt="" border="0"></td-->
</tr>
<tr>
	<!--td  align="center" valign="top" background="pics/menu_bar.gif"-->
	<td  align="center" valign="top" bgcolor="orange">
		<table width="100%" border=0 cellpadding="1" cellspacing="3">
			<tr>
			   <!--BeginMenus-->
				<td align="center" ><font class="menu">{MenuTitle}</font></td>
			   <!--EndMenus--> 
				<td width="33%" align="right">
					<a href="#" onClick="popUp('SearchDiv',true,'SearchDiv',200,200)" ><img src="pics/search.gif" alt="Search" border=0></img></a>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td valign="top"><img src="pics/dot.gif" width="1" height="5" alt="" border="0"></td>
</tr>
<tr>
	<td>
		<center>
		<!--End Header-->

	<FORM ACTION="{PHP_SELF}" METHOD="POST" >
	<TABLE width="100%" BORDER=0 CELLSPACING=0>
        <TR>
            <TD align="center">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;&lt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;    ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="    &gt;   ">
					<INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &gt;&gt;   ">
                    <!--INPUT TYPE="Submit" NAME="list_PagingMove" VALUE=" Επανεκτέλεση "-->
            </TD>
        </TR>
        <TR>
            <TH ALIGN=CENTER class="RowsFound">
                <NOBR>{RecordCount}&nbsp;Rows {HeadingTitle} &nbsp;&nbsp;&nbsp;&nbsp; {currentpage}  {pagecount}</NOBR>
            </TH>
        </TR>
        </TABLE>
				<img src="pics/dot.gif" width="1" height="1" alt="" border="0">
		<!--TABLE {ztabhtml}-->
		<TABLE BORDER=1 width=100%  bgcolor="#77B0E4"  border="0" cellspacing="0" cellpadding="0">
		<THEAD>
			<tr>{TableHeader}</tr>
		</THEAD>
		<tbody>
		   <!--BeginRows-->
			<tr>{TableRows}</tr>	
		   <!--EndRows-->
		 </tbody> 
		</TABLE>   
		<TABLE BORDER=0 CELLSPACING=0>
        <TR>
						<td>{SearchValues}</td>
            <TD align="center">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;&lt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;    ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="    &gt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &gt;&gt;   ">
                    <INPUT TYPE="hidden" NAME="movenext" VALUE="{CurrentRow}">
                    <INPUT TYPE="hidden" NAME="prevrows" VALUE="{Prevrows}">
					{SearchValues}
					<input type="hidden" name="type" value="{type}">
					<input type="hidden" name="TMPL_MENUID" value="{TMPL_MENUID}">
					<INPUT TYPE="hidden" NAME="movefirst" VALUE="{FirstRow}"> 
					<!-- 20060621 JIM: PRF 8203: Step No 1: correct sorting: -->
			       <input type="hidden" name="OrderBy" value="{OrderBy}">
            </TD>
        </TR>
        </TABLE>
	</FORM>
	</center>
	<!--Start Footer-->
	</td>
</tr>
<tr>
	<td>	
	</td>
</tr>
</table>


<div name="SearchDiv" id="SearchDiv" >
<center>
<form action="{PHP_SELF}" method="POST" name="action_form">
<input type="hidden" name="debug" value="{debug}">
<input type="hidden" name="type" value="{type}">
<input type="hidden" name="TMPL_MENUID" value="{TMPL_MENUID}">
<input type="hidden" name="SearchUsed" value="TRUE">
<table border="0" cellspacing="0" cellpadding="0"  bgcolor="#002060">
<tr><td height="0" colspan="3">&nbsp;</td></tr>
<tr>
	<td width="10">&nbsp;</td>
	<td>
		<!-- ############################# search Header start ########################### -->
		<table valign="top" border="0" cellspacing="1" cellpadding="0">
		<tr>
			<td bgcolor="lightgrey" width="100%" height="27" align="center" valign="center"><font class="SearchTitleDark">&nbsp;&nbsp;&nbsp;SEARCH</font></td>
			<td align="right" valign="top"><a href="javascript:hidep('Debug')"><img src="pics/close.gif" width="28" height="27" alt="Close" border="0"></a></td>
		</tr>
		</table>
		<!-- ############################# Header end ########################### -->
				<!--BeginTDplus-->
				<!--{todateplus}-->
			  <!--EndTDplus-->
		<!-- ############################# dynamic search ################################## -->
		<table valign="top" border="0" cellspacing="1" cellpadding="3">
		<tr><td height="10" colspan="3"></td></tr>
		<tr bgcolor="lightgrey">
			<!--BeginDynamicSearch-->
			<tr bgcolor="lightgrey">
				<td width="30%"><font class="normal">{DSearchTitle}:</font></td>
				<td width="70%" font class="normal">{DSearchString}</td>
			</tr>
			<tr></tr>
			<!--EndDynamicSearch-->
		</tr>
		<tr><td height="10" colspan="2"></td></tr>
		<tr colspan="3">
			<td>&nbsp;</td>
			<td  align="left" valign="center" >
				<input type="button" value="    Submit    " onclick="document.action_form.submit();">
			</td>
			<!--td   align="right" valign="center" >
				<a href="#"  onClick="ResetValues()"><input type="button" value="     Reset     "></a>
			</td-->
			<!--td  align="right" valign="center" >
			<a href="#"  onClick="ResetValues()"><img src="pics/reset.gif" width="98"  alt="" border="0"></a> </td -->
		</tr>
	</table>
	</td>
	<td width="10">&nbsp;</td>
</tr>
<tr>
	<td height="5" colspan="3"></td>
</tr>
</table>
</form>
</center>
</div>

<div name="Debug" id="Debug" STYLE="POSITION: absolute; Z-INDEX: 2; VISIBILITY: hidden; TOP:0px; LEFT:0px">
<table border="0" cellspacing="0" cellpadding="0"  bgcolor="#FEB501">
<tr>
	<td align="left" valign="top"><font class="normal"></font>
	</td>
			<td rowspan="6" align="right" valign="top"><a href="javascript:hidep('SearchDiv')"><img src="pics/close.gif" width="28" height="27" alt="Close" border="0"></a></td>
</tr>
</table>
</div>
<script>
hidep('SearchDiv');

</script>
</body>
</html>

<!--End Footer-->
<!-- END: inf.tpl -->
