<html>
<head>
	<title>UFIS - <?php echo $PageTitle ?></title>

  <META NAME="author" CONTENT="Ufis AS Germany">
  <META NAME="dbauthor" CONTENT="Ufis AS Germany">
  <META NAME="Art designer" CONTENT="Ufis AS Germany">
  <META NAME="co-author" CONTENT="Ufis AS Germany">
  <META NAME="Art design" CONTENT="Ufis AS Germany">
  <META HTTP-EQUIV="Reply-to" CONTENT="Ufis AS Germany">

</head>
<body bgcolor="#FFFFFF" text="#000000" leftmargin=0 topmargin=0 cellpadding="3" marginwidth=0 marginheight=0 link="#78A0B6" vlink="#78A0B6" alink="#78A0B6" >

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
		<tr>
			<td align="center" bgcolor="#365565" colspan=8>
			<font color="#FFFFFF" face="Arial" style="font-size:large; font-weight: bold;">
			UNIVERSAL FLIGHT INFORMATION SYSTEM - UFIS <sup>&reg</sup>
			</font>
			</td>
		</tr>
	</table>

	<br>
	<!-- TBA 2 BEGIN -->
	<table align="center" cellspacing="0" cellpading="0" bgcolor="#78A0B6" border="0" width="100%">
		<tr>
			<td align="center" colspan=7><font class="PageTitle" >{PageTitle}</font></td>
			<td align="center"><font class="PageTitle" >{DateTime}</font></td>
		</tr>
	</table> 	<!-- TBA 2 END -->
	<br>
	<!--img src="pics/dot.gif" width="1" height="1" alt="" border="0"-->
	<!-- TBA 2 BEGIN -->
	<TABLE align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
	<THEAD>
		<tr>{TableHeader}</tr>
		</THEAD>
	<tbody>
	   <!--BeginRows-->
		<tr>{TableRows}</tr>	
	   <!--EndRows-->
	 </tbody> 
	</TABLE> <!-- TBA 2 END -->

	<!--BeginTDplus-->
	<!--EndTDplus-->
	<!--BeginMenus-->
	<!--EndMenus-->
	<!--BeginDynamicSearch-->
	<!--EndDynamicSearch-->
</body>
</html>
