<%@ Page Language="C#" MasterPageFile="~/Web/iTrekB/Master.master" AutoEventWireup="true" CodeFile="BAFlightMsg.aspx.cs" Inherits="Web_iTrekB_BAFlightMsg" Title="Flight Message" Theme="SATSTheme" EnableEventValidation="false" %>

<%@ Register Src="../Wu/WuMsg.ascx" TagName="WuMsg" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cph1" Runat="Server">
    <uc1:WuMsg ID="WuMsg1" runat="server" />
</asp:Content>

