<%@ Page Language="C#" MasterPageFile="~/Web/iTrekB/Master.master" AutoEventWireup="true" CodeFile="BATerminalFlightUlds.aspx.cs" Inherits="Web_iTrekB_BATerminalFlightUlds" Title="Baggage Arrival - Terminal Flight Ulds"  Theme="SATSTheme" EnableEventValidation="false"%>
<%@ Register Src="../Wu/WuBeltSelect.ascx" TagName="WuBeltSelect" TagPrefix="uc1" %>
<%@ Register Src="WuBATerminal.ascx" TagName="WuBATerminal" TagPrefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cph1" Runat="Server">
    <asp:Timer id="Timer1" runat="server">
    </asp:Timer>
    <uc1:WuBeltSelect ID="WuBeltSelect1" runat="server" />
    <br />
    <asp:UpdatePanel id="updPnl" runat="server">
        <contenttemplate>
<uc2:WuBATerminal id="WuBATerminal1" runat="server" EnableViewState="true" Visible="true" EnableTheming="true"></uc2:WuBATerminal> 
</contenttemplate>
    </asp:UpdatePanel>
</asp:Content>

