<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Fake.aspx.cs" Inherits="Web_iTrekB_Fake" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="txtUserId" runat="server"></asp:TextBox>
        <asp:TextBox ID="txtGroupIds" runat="server"></asp:TextBox>
        <asp:Button ID="btnLogin" runat="server" Text="Login" OnClick="btnLogin_Click" /></div>
    </form>
</body>
</html>
