<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Master.master.cs" Inherits="Web_iTrekB_Master" EnableTheming="true" %><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../includes/GridFixedHeader.css?dt=20081202" />
    <script type="text/javascript" src="../includes/Master.js?dt=20081202"></script>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager EnablePartialRendering="true" ID="ScriptManager1" runat="server" AsyncPostBackTimeout="360">
        </asp:ScriptManager>
            <div style="width: auto; height: 75px" class="Master">
        <table style="width: 990px; height: 100%; left: 0px; position: absolute; top: 0px;" class="Master">
            <tr>
                <td style="width: 90px; height: 71px;">
                    <span style="font-size: 24pt" class="Logo"><asp:Image ID="imgLogo" runat="server"
                        CssClass="Logo" ImageUrl="~/Images/SATSlogo.gif" Width="100px" AlternateText="SATS" BackColor="#f0f0f0" /></span></td>
                <td style="width: 890px; height: 71px;" >
                    <table class="Master">
                        <tr class="Master"> 
                            <td style="width: 100px; height: 19px" colspan="3" >
                    <asp:Label ID="lblUser" runat="server" Width="403px"></asp:Label></td>
                            <td style="width: 9px; height: 19px">
                            </td>
                            <td style="width: 100px; height: 19px">
                                <asp:Label ID="lblDept" runat="server" Width="173px"></asp:Label></td>
                            <td style="width: 100px; height: 19px">
                                </td>
                            <td style="width: 100px; height: 19px">
                                <asp:Button ID="btnLogout" runat="server" OnClick="btnLogout_Click" Text="Logout" AccessKey="X" CausesValidation="False" TabIndex="100" EnableViewState="False" PostBackUrl="~/Logout.aspx" UseSubmitBehavior="False" /></td>
                        </tr>
                        <tr class="Master">
                            <td style="width: 83px">
                                <asp:LinkButton ID="lbArrFlight" runat="server" OnClick="lbArrFlight_Click">ARR Flights</asp:LinkButton></td>
                            <td style="width: 75px">
                                <asp:LinkButton ID="lbDepFlight" runat="server" Width="116px" OnClick="lbDepFlight_Click" CausesValidation="False" EnableViewState="False">DEP Flights</asp:LinkButton></td>
                            <td colspan="3">
                                <asp:UpdatePanel ID="updPnl1" runat="server">
                                    <ContentTemplate>
                                <asp:Label ID="lblRefreshTime" CssClass="Heading" runat="server" Width="339px" EnableViewState="False"></asp:Label>
                                    </ContentTemplate>
                                </asp:UpdatePanel>
                            </td>
                            <td style="width: 100px">
                            <asp:LinkButton ID="lbMsgs" runat="server" PostBackUrl="~/Web/iTrekB/BAMsg.aspx" CausesValidation="False">Messages</asp:LinkButton></td>
                            <td style="width: 100px">
                                <asp:UpdatePanel ID="updPnl2" runat="server">
                                    <ContentTemplate>
                                <asp:Label ID="lblNewMsg" runat="server" CssClass="NewMsg"></asp:Label>
                                    </ContentTemplate>
                                </asp:UpdatePanel>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 83px">
                                </td>
                            <td style="width: 75px">
                                </td>
                            <td colspan="1" align="center">
                                <asp:LinkButton
                                    ID="lbRefreshNow" runat="server" CausesValidation="False" OnClick="lbRefreshNow_Click"> Refresh Now</asp:LinkButton></td>
                            <td colspan="4">
                                <asp:HyperLink ID="hlShowFlight" runat="server" NavigateUrl="~/Web/iTrek/FlightInfo.aspx" Visible="False">Show Flight</asp:HyperLink></td>
                            <td >
                                </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </div>
        <div style="width:auto;">
        <asp:contentplaceholder id="cph1" runat="server">
        </asp:contentplaceholder>
        </div>
     </form>
</body>
</html>

