<%@ Page Language="C#" MasterPageFile="~/Web/iTrekB/Master.master" AutoEventWireup="true" CodeFile="UnAuthorised.aspx.cs" Inherits="iTrekB_UnAuthorised" Title="UnAuthorised" Theme="SATSTheme"%>
<asp:Content ID="c1" ContentPlaceHolderID="cph1" Runat="Server">
    You are unauthorised to view the information on this page.
</asp:Content>

