<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WuBagArrContiner.ascx.cs" Inherits="Web_iTrekB_WuBagArrContiner" %>
<%@ Register Src="WuBagArrUnRecvUld.ascx" TagName="WuBagArrUnRecvUld" TagPrefix="uc1" %><asp:PlaceHolder ID="phTrip" runat="server"></asp:PlaceHolder><asp:PlaceHolder ID="phRmk" runat="server"></asp:PlaceHolder>
<asp:PlaceHolder ID="phExp" runat="server"></asp:PlaceHolder>
<asp:LinkButton ID="lbShowRecvCntr" runat="server" Visible="false" CausesValidation="false" EnableViewState="false" OnClick="lbShowRecvCntr_Click">Received :</asp:LinkButton>
<asp:PlaceHolder ID="phRecv" runat="server"></asp:PlaceHolder>