<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WuBagArrUnRecvUld.ascx.cs" Inherits="Web_iTrekB_WuBagArrUnRecvUld" %>
<%@ Register Src="../../UserControls/WuCheckBoxList.ascx" TagName="WuCheckBoxList"
    TagPrefix="uc1" %>
<uc1:WuCheckBoxList ID="WuCheckBoxList1" runat="server" EnableViewState="true" ColumnsCount="5" />
<asp:PlaceHolder ID="phRemk" runat="server"></asp:PlaceHolder>