<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WuBATerminal.ascx.cs" Inherits="Web_iTrekB_WuBATerminal" %>
<%@ Register Src="WuBABelt.ascx" TagName="WuBABelt" TagPrefix="uc1" %>
<div>
<div style="vertical-align: middle; width: 100%; position: static; text-align: center">
<asp:Label ID="lblHead" runat="server" Text="Baggage Arrival"></asp:Label>
</div>
<asp:PlaceHolder ID="phBelts" runat="server"></asp:PlaceHolder>
</div>
