<!-- NAME: Xls.tpl -->
<!--Start Header-->
<html>
<head>
	<title>{PageTitle}</title>
<META NAME="description" CONTENT="">
   <META NAME="description" CONTENT="">
  <META NAME="author" CONTENT="UFIS AS -  G. Fourlanos/e-mail:gfo@ufis-as.com">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1253">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-7">
	
  
  <META HTTP-EQUIV="Expires" CONTENT="{Cexpires}">

  
<STYLE TYPE="text/css">
	.atmp{}



	.InfTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
	}
	.PageTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
		font-weight : bold;
	}

	.Menu{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.Normal{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.TrHeader{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.ABB{font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000;font-weight : bold;margin-left : 4;margin-right : 4;}
	.SearchTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #ffffff;
		font-weight : bold;
	}
	.NoRows{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.error{font-size:12pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : red}
	.RowsFound{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
	#SearchDiv	{position: absolute; top: 600px; left: 300px; padding: 3px; margin: 5px;behavior:url("webfxjs/genmove.htc");VISIBILITY: hidden;}
	.TOOLTIPSTYLE{background: infobackground; color: infotext; font: statusbar; padding: 1; border: 1 solid black}
</STYLE>


</head>
<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0">




					<!--BeginTDplus-->	
					<!--EndTDplus-->

<table border="1" cellspacing="0" cellpadding="0"  class="sortable">
<THEAD>
	<tr>
		<td class="TDStandardTitle">Id</TD>
		<td class="TDStandardTitle">Name</td>
		<td class="TDStandardTitle">G</td>
                <td class="TDStandardTitle">PAX Sch Arr</td>
		<td class="TDStandardTitle">PAX Act Arr</td>
		<td class="TDStandardTitle">Close Time</td>
		<td class="TDStandardTitle">PRM-Type</td>
		<td class="TDStandardTitle">WCh Needed</td>
		<td class="TDStandardTitle">Arr Location</td>
		<td class="TDStandardTitle">FLNO</td>
		<td class="TDStandardTitle">Transfer FLNO</td>
		<td class="TDStandardTitle">Position</td>
		<td class="TDStandardTitle">Gate</td>
		<td class="TDStandardTitle">CIC From - To</td>
		<td class="TDStandardTitle">A/D</td>
		<td class="TDStandardTitle">STA/STD</td>
	</tr>
</THEAD>
<TBODY>
<!--BeginResults-->

	<tr>
		<td class="TD{cssID}">{ID}</td>
		<td class="TD{cssName}">{Name}</td>
		<td class="TD{cssG}">{G}</td>
                <td class="TD{cssArrTime}">{ScheTime}</td>
		<td class="TD{cssArrTime}">{ArrTime}</td>
                <td class="TD{css}">{CloseValue}</td>
		<td class="TD{cssPRMType}">{PRMType}</td>
		<td class="TD{cssWheelC}">{WheelC}</td>
		<td class="TD{cssArrLoc}">{ArrLoc}</td>
		<td class="TD{cssFlno}">{Flno}</td>
		<td class="TD{cssFlno}">{TFlno}</td>
		<td class="TD{cssPST}">{PST}</td>
		<td class="TD{cssGate}">{Gate}</td>
		<td class="TD{cssCheckin}">{Checkin}</td>
		<td class="TD{cssADID}">{ADID}</td>
		<td class="TD{cssST}">{ST}</td>

	</tr>
<!--EndResults-->
</TBODY>
</table>
</center>




<!--BeginPerf-->
<!--EndPerf-->

</body>
</html>

<!--End Footer-->
<!-- END: Xls.tpl -->