<div class="header">
<img src="images/athens_header.jpg" alt=""><br>
</div>
<div class="grey">
&nbsp;Arrival Flights 
</div>
<div class="timedisplay"><?php echo date("H:i") ?></div>

<table cellspacing="0" cellpadding="3" border="0" class="deptrows" width="100%">

<tr>
  <td class="white">Time</td>
  <td class="white">Flight</td>
  <td class="white"></td>
  <td class="white">Origin</td>
  <td class="white">Area</td>
  <td class="white">Remarks</td>
</tr>

<?php

$arrivals = getDataFromFile($webfids["pathToArrFile"]);

//echo "<pre>"; print_r($arrivals); echo "</pre>";

for ($i = 0; $i <= 15; $i++)
{
	if (moduloEqual($i))
	{
		$style = "hi";
	}
	else 
	{
		$style = "lo";
	}
	$time = substr($arrivals[$i][4],8,2).":".substr($arrivals[$i][4],10,2);
	
	if(!empty($arrivals[$i][3]))
	{
		$destVia = trim($arrivals[$i][2])."/".trim($arrivals[$i][3]);
	}
	else 
	{
		$destVia = trim($arrivals[$i][2]);
	}
  if (file_exists($webfids["pathToLogos"].$arrivals[$i][0]."_S.GIF"))
  {
    $airlineLogo = '<img src="/images/logos/'.$arrivals[$i][0].'_S.GIF" border=0>';
  }
  else 
  {
    $airlineLogo = '&nbsp';
  }
	
	echo('
	<tr class="row">
  		<td class="dept_time_'.$style.'">'.$time.'</td>
  		<td class="dept_flight_'.$style.'">'.$arrivals[$i][1].'</td>
  		<td class="dept_checkin_'.$style.'">'.$airlineLogo.'</td>
  		<td class="dept_destination_'.$style.'">'.$destVia.'</td>
  		<td class="dept_gate_'.$style.'">'.$arrivals[$i][8].'</td>
  		<td class="dept_remarks_'.$style.'">'.$remarks[$arrivals[$i][6]].'</td>
	</tr>
	');
}
?>

</table>
