<table width="100%">
                                        <tr>
                                            <td valign="top"><img src="pics/yeah.gif" alt="" border="0" align="top"><strong>Note:</strong></td>
                                            <td>In case that the previous flight has not been closed the flight<br>
                                                has to be closed first before you can assign another one.<br><br>

                                                Click the '<strong>Close</strong>' button <br>
                                                or contact the <strong>ASOC</strong> Coordinator for more information<BR>
                                                <table>
                                                    <tr>
                                                        <td><strong>CHECK-IN </strong></td><td><strong> Tel.:</strong></td>
                                                        <td>&nbsp;<strong>40003</strong> or </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>GATES </strong></td><td><strong> Tel.:</strong></td>
                                                        <td>&nbsp;<strong>40002</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td valign="top" align="right">
                                                <a href="#" onclick='$("#UnclosedMessage").hide()'><img src="include/jquery/themes/basic/images/tab_close-on.gif" border="0"></a>
                                            </td>
                                        </tr>
                                    </table>