<div class="test">
<img src="images/athens_header.jpg" alt=""><br>
<div class="grey">
 &nbsp;Departure Flights 

</div>

<div class="timedisplay"><?php echo date("H:i") ?></div>

<table cellspacing="0" cellpadding="4" border="0" class="deptrows">

<tr>
  <td class="white">Time</td>
  <td class="white">Flight</td>
  <td class="white">Destination/Via</td>
  <td class="white">Check-in</td>
  <td class="white">Gate</td>
  <td class="white">Remarks</td>
</tr>

<?php

$departures = getDataFromFile($webfids["pathToDepFile"]);

for ($i = 0; $i <= 17; $i++)
{
	if (moduloEqual($i))
	{
		$style = "hi";
	}
	else 
	{
		$style = "lo";
	}
	
	if(!empty($departures[$i][4]))
	{
	   $time = substr($departures[$i][4],8,2).":".substr($departures[$i][4],10,2);
	}
	else 
	{
	  $time = "&nbsp;";
	}
	
	if(!empty($departures[$i][3]))
	{
		$destVia = trim($departures[$i][2])."/".trim($departures[$i][3]);
	}
	else 
	{
		$destVia = trim($departures[$i][2]);
	}
	
	if(!empty($departures[$i][6]))
	{
	   $checkFrom = trim(substr($departures[$i][6],0,3));
	   $checkTo = trim(substr($departures[$i][6],4,3));
	   if($checkFrom > 0)
	   {
	     $checkInCounters = $checkFrom." - ".$checkTo;
	   }
	   else 
	   {
	     $checkInCounters = "&nbsp;";
	   }
	}
	else 
	{
	  $checkInCounters = "&nbsp;";
	}
	if($remarks[$departures[$i][7]] == "Final Call")
	{
	  $showRemarks = "<blink>".$remarks[$departures[$i][7]]."</blink>";
	}
	else 
	{
	  $showRemarks = $remarks[$departures[$i][7]];
	}
	
	echo('
	<tr class="row">
  		<td class="dept_time_'.$style.'">'.$time.'</td>
  		<td class="dept_flight_'.$style.'">'.$departures[$i][1].'</td>
  		<td class="dept_destination_'.$style.'">'.$destVia.'</td>
  		<td class="dept_checkin_'.$style.'">'.$checkInCounters.'</td>
  		<td class="dept_gate_'.$style.'">'.$departures[$i][8].'</td>
  		<td class="dept_remarks_'.$style.'">'.$showRemarks.'</td>
	</tr>
	');
}
?>

</table>

</div>