<html>
    <head>
        <title>{$PageTitle}</title>
        <META NAME="description" CONTENT="">
        <META NAME="author" CONTENT="UFIS AS">
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset={$CharSet}">
        <META HTTP-EQUIV="Expires" CONTENT="{$ContenetExpires}">
        <link rel="STYLESHEET" type="text/css" href="style/style.css">
        <meta http-equiv="Refresh" content="20; url=index.php">
    </head>
    <body bgcolor="White" text="Black" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0  background = "pics/empty_loginback.gif">
        <BR><BR><BR>
        <BR><BR><BR><BR>
        <center>
            <p><font size=+3 font face=Arial color=red><b>
                {$RedGoodByeMsg}
        </font></center>
        <BR><BR>

        &nbsp;
        &nbsp;&nbsp;
        <center>
            <p><font size=+2 font face=Arial>&nbsp;&nbsp;

                YOU HAVE BEEN DISCONNECTED FROM THE SYSTEM.
                PLEASE CLOSE YOUR BROWSER, IF YOU WISH TO CLOSE
                THE APPLICATION.<BR><BR>
                FOR LOGGING IN AGAIN CLICK ON THIS <a href="index.php">LINK</a>.

        </font></center>
        <BR><BR><br><br>

        <table>
            <tr height=110>
                <td align=left><img src="pics/UFIS-Logo300dpii.jpg" alt="UFIS AS GmbH " width="117" hspace="34" border="0" title="UFIS AS GmbH ">
                    &nbsp;&nbsp;
                <FONT FACE="Arial" SIZE=2 COLOR="#000000"> &copy; 1995-2006 UFIS AS GmbH </FONT></td>
            </tr>
        </table>

    </body>
</html>
