<table>
    <tr>
        <td>
            <p><strong>Free Text 1:</strong><br>
            <input type="text" size="50" maxlength=35 name="Text1" id="Text1"  value="{$FreeText1}">
            <p></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Free Text 2: </strong><br>
            <input type="text" size="50" maxlength=35 name="Text2" id="Text2" value="{$FreeText2}">
            <p></p>
        </td>
    </tr>
</table>