<TABLE  align=top border=0>
    <TR >
        <TD colspan="2"><p align = left>&nbsp;&nbsp;<strong>Logo:</strong></p>
            <div id="PreviewLogo"><img  src="{$LogoSrc}" border=1 width="270" height="76"></div>
        </TD>
    </TR>
        {if $LogoSelection eq true}
        {$LogopQuery}

        <input name="Request" type="hidden" value="Logo">
        <TR align=center>
            <TD colspan="2">
                <p align = left>&nbsp;&nbsp;<strong>Selection:</strong></p>
                <select name="LogoSelect" id="LogoSelect" size="10">
                    {html_options values=$LogoSelect_values selected=$LogoSelect_selected output=$LogoSelect_output}
                </select>
            </TD>
        </TR>

        <TR >
        <TD align=center>
            <input type="submit" name="Button" value="Preview">
            <p>
            <input type="submit" name="Button" value="LogoTransmit" onclick="cput(this.value,'{$Type}')">

            </form>
        </TD>

        <!--<td align="left"><input type="submit" name="Button" value="LogoTransmit" onclick="cput(this.value,'{$Type}')"></td>-->
    </form>
    </TR>
   {/if}


</TABLE>
