<table>
    <tr>

        <td>
            <p><strong>Predefined Remark:</strong><br>
            <!-- <p><%=$CPRemark%></p> -->
            <select name="PRemarkCode" id="PRemarkCode" size="5">
                {html_options values=$PRemarkCode_values selected=$PRemarkCode_selected output=$PRemarkCode_output}
            </select>
        </td>
    </tr>
</table>
