  <STYLE TYPE="text/css">
	.atmp{}

	.TableColHeader{
		font-size:12pt;
		margin-top: 5pt;
		margin-bottom: 5pt;
		margin-left: 0pt;
		margin-right: 0pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:bold;
		color : #000000;
		background : #ECC06A;
		text-align : left;
		text-decoration:none; 
		border-style: none;
	}
	.PageTitle{
		font-size:18pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
		font-weight : bold;
	}

	.TDArrival0{white-space:nowrap; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFEBAD;text-align : center;text-valign: center; empty-cells:show}
	.TDArrival1{white-space:nowrap; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFFF80;text-align : center; text-valign: center;empty-cells:show}
	.TDArrival2ndColColor{color: blue;}

	.TDDepartureleft0{white-space:nowrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FCD484;text-align : left; border-style: none;}
	.TDDepartureleft1{white-space:nowrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#F9E3B7;text-align : left; border-style: none;}
	.TDDepartureleft2ndColColor{color: blue;}

	.TDDeparture0{white-space:nowrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FCD484;text-align : center; border-style: none;}
	.TDDeparture1{white-space:nowrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#F9E3B7;text-align : center; border-style: none;}
	.TDDeparture2ndColColor{color: blue;}

	.TDHL{text-decoration: blink; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #FFFFFF;background:red;text-align : center;}

	.FrontMenu{
		font-size:14pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #000000;
		background: #FFFFFF;
		margin-left : 0;
		margin-right : 0;
	}
	.info{font-size:11; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Arial,Verdana;color : blue}
	.Menu{white-space:wrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.Normal{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.NormalDisabled{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : gray}
	.SearchTitle{
		font-size:13pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #000000;
		font-weight : bold;
	}
	.NoRows{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
	#SearchDiv	{position: absolute; top: 600px; left: 300px; padding: 3px; margin: 5px;behavior:url("webfxjs/genmove.htc");VISIBILITY: hidden;}
	.TOOLTIPSTYLE{background: yellow; color: infotext; font: statusbar; padding: 1; border: 1 solid black}
</STYLE>

