  <STYLE TYPE="text/css">
	.atmp{}

	.TableColHeader{
		font-size:10pt;
		margin-top: 5pt;
		margin-bottom: 5pt;
		margin-left: 0pt;
		margin-right: 0pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:bold;
		color : #990000;
		background : #ECC06A;
		text-align : left;
		text-decoration:none; 
		border-style: none;
	}
	.PageTitle{
		font-size:18pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
		font-weight : bold;
	}

	.TDArrival0{white-space:nowrap; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFEBAD;text-align : center;text-valign: center; empty-cells:show}
	.TDArrival1{white-space:nowrap; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFFF80;text-align : center; text-valign: center;empty-cells:show}
	.TDArrival2ndColColor{color: blue;}

	.TDDepartureleft0{white-space:nowrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FCD484;text-align : left;vertical-align:middle;border-bottom:solid;border-bottom-color:#ECBA89;border-bottom-width:1px;border-right:solid;border-right-color:#ECBA89;border-right-width:1px;}
	.TDDepartureleft1{white-space:nowrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#F9E3B7;text-align : left; vertical-align:middle;border-bottom:solid;border-bottom-color:#ECBA89;border-bottom-width:1px;border-right:solid;border-right-color:#ECBA89;border-right-width:1px;}
	.TDDepartureleft2ndColColor{color: blue;}
.TSeq0  {white-space: nowrap; font-size: 10pt; margin-top: 0pt; margin-bottom: 0pt; font-family: Arial, Tahoma, Verdana; Font-weight: 900; color : #000000;  
  background: #D2A753 ; text-align: center; vertical-align: middle; border-bottom: solid; border-bottom-color : #ECBA89; border-bottom-width: 1px; border-right: solid; border-right-color: #ECBA89; border-right-width: 1px;}

.TSeq1 { white-space: nowrap; font-size: 10pt; margin-top: 0pt; margin-bottom: 0pt; font-family: Arial, Tahoma, Verdana; Font-weight:900; color: #000000; background: #D2A753; text-align: center; vertical-align:middle; border-bottom: solid; border-bottom-color: #ECBA89; border-bottom-width: 1px; border-right: solid; border-right-color: #ECBA89; border-right-width: 1px;} 

.TSeq2ndColColor { color:blue;  border-left: none  border-left-color:#ECBA89; border-left-width: 1px;}

	.TDDeparture0{white-space:nowrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FCD484;text-align : center;vertical-align:middle;border-bottom:solid;border-bottom-color:#ECBA89;border-bottom-width:1px;border-right:solid;border-right-color:#ECBA89;border-right-width:1px;}
	.TDDeparture1{white-space:nowrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#F9E3B7;text-align : center;vertical-align:middle;border-bottom:solid;border-bottom-color:#ECBA89;border-bottom-width:1px;border-right:solid;border-right-color:#ECBA89;border-right-width:1px; }
	.TDDeparture2ndColColor{color: blue;border-left:solid:border-left-color:#ECBA89;border-left-width:1px;}
	.TDHL{text-decoration: blink; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #FFFFFF;background:red;text-align : center;}

.TDDepartureNoshow0
{white-space: nowrap; font-size:1pt; margin-top: 0pt;margin-bottom: 0pt; font-family: Arial, Tahoma, Verdana; font-weight:500; color:#000000;background: #FCD484; text-align: center; vertical-align: middle; border-left: none; border-top:none; border-right: solid; border-right-color: #ECBA89;border-right-width:1px; border-bottom: solid; border-bottom-color: #ECBA89;border-bottom-width: 1px;} 
	
.TDDepartureNoshow1{ white-space: nowrap;font-size:1pt;margin-top:0pt;margin-bottom: 0pt; font-family: Arial, Tahoma,Verdana; font-weight:500; color:#000000; background: #F9E3B7; text-align:center; vertical-align: middle; border-left:none; border-top: none; border-right: solid; border-right-color: #ECBA89; border-right-width: 1px; border-bottom: solid; border-bottom-color: #ECBA89;border-bottom-width: 1px;}

.TDDepartureNoshow2ndColColor{
border-left: none; border-top: none;}


	.TDDepartureNoshowleft0{white-space: nowrap; font-size:1pt; margin-top:0pt; margin-bottom:0pt; font-family: Arial, Tahoma,Verdana; font-weight:500; color: #000000; background:#FCD484; text-align:left; vertical-align: middle;border-color:#ECBA89; border-left: none; border-top:none; border-bottom: solid; border-bottom-color: #ECBA89; border-bottom-width:1px; border-right:solid; border-right-color:#ECBA89; border-right-width: 1px;}
	.TDDepartureNoshowleft1{ white-space: nowrap; font-size: 1pt; margin-top:0pt;margin-bottom:0pt; font-family:Arial, Tahoma,Verdana; font-weight:500; color: #000000; background: #F9E3B7; text-align: left;vertical-align:middle; border-left: none; border-top:none; border-right:solid; border-right-color:#ECBA89; border-right-width: 1px; border-bottom:solid; border-bottom-color:#ECBA89;border-bottom-width:1px;}

.TDDepartureNoshowleft2ndColCorlor{}
.FrontMenu{
		font-size:14pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #000000;
		background: #FFFFFF;
		margin-left : 0;
		margin-right : 0;
	}
	.info{font-size:11; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Arial,Verdana;color : blue}
	.Menu{white-space:wrap; font-size:10pt;font-weight:bold; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.Normal{font-size:9pt;font-weight:bold; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.NormalDisabled{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : gray}
	.SearchTitle{
		font-size:13pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #000000;
		font-weight : bold;
	}
	.NoRows{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
	#SearchDiv	{position: absolute; top: 600px; left: 300px; padding: 3px; margin: 5px;behavior:url("webfxjs/genmove.htc");VISIBILITY: hidden;}
	.TOOLTIPSTYLE{background: yellow; color: infotext; font: statusbar; padding: 1; border: 1 solid black}
</STYLE>

