  <STYLE TYPE="text/css">
	.atmp{}

	.TableColHeader{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 1pt;
		margin-right: 1pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:bold;
		color : #FFFFFF;
		background : darkblue;
		text-align : center;
		text-decoration:none; 
	}
	.TDArrivalTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 2pt;
		margin-right: 2pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:bold;
		color : #000000;
		background : #C0C0C0;
		text-align : center;
		text-decoration:none; 
	}
	.TDDepartureTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 2pt;
		margin-right: 2pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:bold;
		color : #000000;
		background : #C0C0C0;
		text-align : center;
		text-decoration:none; 
	}

	.TDStandardTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 2pt;
		margin-right: 2pt;
		font-family:Arial,Tahoma,Verdana;
		;font-weight:bold;
		color : #000000;
		background : #C0C0C0;
		text-align : center;
		text-decoration:none; 
	}

	.TDTitleAirline{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #ffffff;
		background : #004AD6;
		text-align : center;
	}
	.TDTitleCity{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #ffffff;
		background : #004AD6;
		text-align : center;
	}

	.InfTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
	}
	.PageTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
		font-weight : bold;
	}

	.TDArrival0{white-space:nowrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFEBAD;text-align : center; empty-cells:show}
	.TDArrival1{white-space:nowrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFFF80;text-align : center; empty-cells:show}
	.TDDeparture0{white-space:nowrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#9CB6D0;text-align : center;}
	.TDDeparture1{white-space:nowrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#9CC6FF;text-align : center;}

	.TDairline0{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000;background:#FFEBAD;text-align : center;}
	.TDairline1{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000;background:#9CC6FF;text-align : center;}
	.TDcity0{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000;background:#FFEBAD;text-align : center;}
	.TDcity1{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000;background:#9CC6FF;text-align : center;}
	
	.TDStandard0{font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana; font-weight: bold;color : #000000;background:#C0C0F0;text-align : center;}
	.TDStandard1{font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana; font-weight: bold;color : #000000;background:#C0C0C0;text-align : center;}
	.TDHL{text-decoration: blink; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #FFFFFF;background:red;text-align : center;}

	.FrontMenu{
		font-size:20pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
		background: #CEDEE3;
		margin-left : 4;
		margin-right : 4;
	}
	.info{font-size:9; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Arial,Verdana;color : #000000}
	.Menu{white-space:wrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.Normal{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.NormalDisabled{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : gray}
	.ABB{font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000;font-weight : bold;margin-left : 4;margin-right : 4;}
	.SearchTitle{
		font-size:13pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #ffffff;
		font-weight : bold;
	}
	.SearchTitleDark{
		font-size:13pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #000000;
		font-weight : bold;
	}
	.NoRows{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.error{font-size:12pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : red}
	.RowsFound{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
	#SearchDiv	{position: absolute; top: 600px; left: 300px; padding: 3px; margin: 5px;behavior:url("webfxjs/genmove.htc");VISIBILITY: hidden;}
	.TOOLTIPSTYLE{background: infobackground; color: infotext; font: statusbar; padding: 1; border: 1 solid black}
</STYLE>

