<STYLE TYPE="text/css">
#container {
  margin:auto;
  width: 100%;
  background: #ffffff;
}
#top {
    width:100%; height:102px;
}
#left {
float: left;
width: 280px;
background: #ffffff;
}
#right {
float:left;
width: 95%;
background: #EBEBEB;
background-image:url('../pics/workback.jpg');
}
#bottom {
clear:both;
background:#ffffff;
}

.bluebg {background-image:url('../pics/blueband.jpg');}
.Status{font-size:16pt;font-family:Tahoma,Verdana,Arial;color :#ffffff}
.StatusTitle{font-size:16pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color :#ffffff}
.DateTime{width:117px; height:34px;}
.Clock{font-size:12pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color :#ffffff}
.error{font-size:12pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color : red}
.RowsFound{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color : #001A5D}
.Clock{font-size:12pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Tahoma,Verdana,Arial;color :#ffffff}
A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
.redbutton {
	background-color: red;
}
.whitebutton {
	background-color: white;
}
.PreviousOpened{
    display: none;
    position: relative;
    top: -100px;
    left: 0px;
    z-index:2;
    width=700px;
    background-image: url(../include/jquery/themes/basic/images/headerbg.gif)
}
.hide{
    display: none;
}
</STYLE>

