  <STYLE TYPE="text/css">
<!--   This file is amended by siddiqui on 17/08/2005 for making border width less of cells of table for data
-->
	.atmp{}

	.TableColHeader{
		font-size:12pt;
		margin-top: 5pt;
		margin-bottom: 5pt;
		margin-left: 0pt;
		margin-right: 0pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:bold;
		color : #FFFFFF;
		background : #365565;
		text-align : left;
		text-decoration:none; 
		border-style: none;
	}
        .TableColHeader2{
                font-size:16pt;
                margin-top: 5pt;
                margin-bottom: 5pt;
                margin-left: 0pt;
                margin-right: 0pt;
                font-family:Arial,Tahoma,Verdana;
                font-weight:600;
                color : #000000;
                background : #6D818F;
                text-align : left;
                text-decoration:none;
                border-style: none;
        }
	.PageTitle{
		font-size:large;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial;
                color : #1B1B1D;
		font-weight:bold;
	}

	<!-- Arrival Styles -->
	.TDArrivalleft0{white-space:nowrap; font-size:14pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500; color: #000000; background:#CBDAE2; text-align: left; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalleft1{white-space:nowrap; font-size:14pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #000000;background:#F9E3B7;text-align : left; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalleft2ndColColor{color: #blue;}

	.TDArrival0{white-space:nowrap; font-size:14pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #000000;background:#FCD484;text-align : center; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrival1{white-space:nowrap; font-size:14pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #000000;background:#F9E3B7;text-align : center; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrival2ndColColor{color: #14242C;}

	.TDArrivalNoshow0{white-space:nowrap; font-size:1pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #FCD484;background:#FCD484;text-align : center;vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalNoshow1{white-space:nowrap; font-size:1pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #F9E3B7;background:#F9E3B7;text-align : center; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalNoshow2ndColColor{}

	.TDArrivalNoshowleft0{white-space:nowrap; font-size:1pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #FCD484;background:#FCD484;text-align : left;vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalNoshowleft1{white-space:nowrap; font-size:1pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #F9E3B7;background:#F9E3B7;text-align : left; vertical-align:middle; border-color: #FFFFFF; border-top:solid;border-left: solid; border-right:none; border-bottom:none; border-top-width: 1px;border-left-width: 1px;}
	.TDArrivalNoshowleft2ndColColor{}

	<!-- Departure Styles -->
	.TDDepartureleft0{white-space:nowrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:800;color : #000000;background:#D6E1E9;text-align : left; vertical-align:middle;border-color: white;border-style: solid;border-width: 1px;}
	.TDDepartureleft1{white-space:nowrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:800;color : #000000;background:#ADC6D3;text-align : left; vertical-align:middle;border-color: white;border-style: solid;border-width: 1px;}
	.TDDepartureleft2ndColColor{color: #14242C;}

	.TDDeparture0{white-space:nowrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:800;color : #000000;background:#D6E1E9;text-align : center; vertical-align:middle;border-color: white;border-style: solid;border-width: 1px;}
	.TDDeparture1{white-space:nowrap; font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:800;color : #000000;background:#ADC6D3;text-align : center; vertical-align:middle;border-color: white;border-style: solid;border-width: 1px;}
	.TDDeparture2ndColColor{font-size:12pt;font-weight:800;color: #14242C;}

	.TDDepartureNoshow0{white-space:nowrap; font-size:1pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #FCD484;background:#D6E1E9;text-align : center;vertical-align:middle;border-color: white;border-style: solid;border-width: 1px;}
	.TDDepartureNoshow1{white-space:nowrap; font-size:1pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #F9E3B7;background:#ADC6D3;text-align : center; vertical-align:middle;border-color: white;border-style: solid;border-width: 1px;}
	.TDDepartureNoshow2ndColColor{}

	.TDDepartureNoshowleft0{white-space:nowrap; font-size:1pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #FCD484;background:#D6E1E9;text-align : left;vertical-align:middle;border-color: white;border-style: solid;border-width: 1px;}
	.TDDepartureNoshowleft1{white-space:nowrap; font-size:1pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:500;color : #F9E3B7;background:#ADC6D3;text-align : left; vertical-align:middle;border-color: white;border-style: solid;border-width: 1px;}
	.TDDepartureNoshowleft2ndColColor{}

	.FrontMenu{
		font-size:14pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #000000;
		background: #FFFFFF;
		margin-left : 0;
		margin-right : 0;
	}
	.info{font-size:11; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahoma,Arial,Verdana;color : white}
	.Menu{white-space:wrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;font-weight:Bold;color : #1B1B1D}
        .Menux{white-space:wrap; font-size:10pt; margin-top: 0pt; margin-bottom:
0pt;font-family:Tahmoma,Arial,Verdana;font-style:Blink;color : #1B1B1D}	
        .Normal{font-size:9pt;font-weight:Bold; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.NormalDisabled{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : gray}
	.SearchTitle{
		font-size:13pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Tahoma,Arial,Verdana;
		color : #FFFFFF;
                font-weight : bold;
	}
	.NoRows{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:none;}
	#SearchDiv	{position: absolute; top: 600px; left: 300px; padding: 3px; margin: 5px;behavior:url("webfxjs/genmove.htc");VISIBILITY: hidden;}
	.TOOLTIPSTYLE{background: yellow; color: infotext; font-family:Tahoma,Arial,Verdana; font-size:14pt; padding: 1; border: 1 solid black}
</STYLE>

