<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MWUShowEquip.ascx.cs" Inherits="gse_MWUShowEquip" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>

<mobile:TextView ID="tvEquip" Runat="server" EnableViewState="False">
</mobile:TextView>
