<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MWU_CompanyHeading.ascx.cs" Inherits="WAP_MWU_CompanyHeading"  %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<mobile:Label ID="lblCompanyHeading" Runat="server" Alignment="Center">SATS iTrek</mobile:Label> 
<mobile:TextView ID="lblHead2FlightInfo" Runat="server" Visible="False">
</mobile:TextView>&nbsp;
