<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MWUCpmManual.ascx.cs" Inherits="WAP_MWUCpmManual" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<mobile:Panel ID="Panel1" Runat="server" OnLoad="Panel1_Load" OnPreRender="Panel1_PreRender" Wrapping="NoWrap"></mobile:Panel>