<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MWUCpmList.ascx.cs" Inherits="WAP_MWUCpmList" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<mobile:Panel ID="Panel1" Runat="server">
</mobile:Panel>
