<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MWUShowStaff.ascx.cs" Inherits="WAP_MWUShowStaff" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
&nbsp;<mobile:TextView ID="tvStaff" Runat="server" EnableViewState="False">
</mobile:TextView>
