<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MWUShowCpm.ascx.cs" Inherits="WAP_MWUShowCpm" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<mobile:List ID="lstCpm" Runat="server" Decoration="Numbered" Wrapping="Wrap" EnableViewState="False"></mobile:List> 
<mobile:Label ID="lblShowCpmErr" Runat="server" Visible="False">
</mobile:Label>
