<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Timing.aspx.cs" Inherits="WAP_Timing" %>



<%@ Register Src="MWUTiming.ascx" TagName="MWUTiming" TagPrefix="uc1" %>

<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
   <mobile:Form id="frmTiming" runat="server" OnActivate="frmTiming_Activate" OnDeactivate="frmTiming_Deactivate"><mobile:Label ID="lblHeading" Runat="server">SATS iTrek -123</mobile:Label> <mobile:Label ID="lblTimingFlightInfo" Runat="server">
        </mobile:Label> <mobile:Label ID="lblTimingFor" Runat="server">
        </mobile:Label> <uc1:MWUTiming ID="mwuTiming1" runat="server" EnableViewState="true" NumberOfTiming="10" /> </mobile:Form>
</body>
</html>
