<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="Web_MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
<table style="width: 99%">
<tr>
<td align="left" valign="top" style="width: 50px;"><asp:Image ID="imgLogo" runat="server" AlternateText="SATS" BackColor="#f0f0f0" CssClass="Logo"
                        ImageUrl="~/Images/SATSlogo.gif" Width="100px" /></td>
<td align="center">
    <asp:ContentPlaceHolder ID="cphHead" runat="server">
    </asp:ContentPlaceHolder>
</td>
<td align="right" valign="top" style="width: 50px;">
<asp:Button ID="btnLogout" runat="server" AccessKey="X" CausesValidation="False"
                        EnableViewState="False" OnClick="btnLogout_Click" PostBackUrl="~/Logout.aspx"
                        TabIndex="100" Text="Logout" UseSubmitBehavior="False" /></td>
</tr>
<tr>
  <td colspan="3">
    <asp:contentplaceholder id="cph1" runat="server">
    </asp:contentplaceholder>
  </td>
</tr>
</table>
    </div>
    </form>
</body>
</html>
