<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WuUnAuthorise.ascx.cs" Inherits="Web_Wu_WuUnAuthorise" %>
<asp:Label ID="lblMsg" runat="server" CssClass="UnAuthorise">You are unauthorised to view the information on this page.</asp:Label>
