<%@ Page Language="C#" AutoEventWireup="true" CodeFile="T1.aspx.cs" Inherits="T1" %>

<%@ Register Src="Web/iTrek/Admin/WuBelt.ascx" TagName="WuBelt" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:WuBelt id="WuBelt1" runat="server">
        </uc1:WuBelt>
        <asp:WebPartZone ID="WebPartZone1" runat="server" Height="90px" Width="250px">
        </asp:WebPartZone>
        &nbsp;&nbsp;
        <asp:CatalogZone ID="CatalogZone1" runat="server">
            <ZoneTemplate>
                <asp:DeclarativeCatalogPart ID="DeclarativeCatalogPart1" runat="server" WebPartsListUserControlPath="~/Web/Wu/WuTime.ascx">
                </asp:DeclarativeCatalogPart>
                <asp:PageCatalogPart ID="PageCatalogPart1" runat="server" />
            </ZoneTemplate>
        </asp:CatalogZone>
        <asp:WebPartManager ID="WebPartManager1" runat="server">
        </asp:WebPartManager>
    </div>
    </form>
</body>
</html>
