<!-- NAME: myPassword.tpl -->
<!--Start Header-->
<html>
<head>
	<title>{PageTitle}</title>
<META NAME="description" CONTENT="">
  <META NAME="author" CONTENT="Infomap - Team@Work - T. Dimitropoulos/e-mail:thimios@infomap.gr">
  <META NAME="dbauthor" CONTENT="Infomap - Team@Work - A.Papachrysanthou/e-mail:Anthony@infomap.gr">  
  <META NAME="author" CONTENT="Infomap - Team@Work - G. Fourlanos/e-mail:fou@infomap.gr">
  <META NAME="Art designer" CONTENT="Infomap - Team@Work - S. Rallis/e-mail:stratos@infomap.gr">  
  <META HTTP-EQUIV="Reply-to" CONTENT="webmaster@infomap.gr">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1253">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-7">
  <META HTTP-EQUIV="Expires" CONTENT="webmaster@infomap.gr">
	
  
  <META HTTP-EQUIV="Expires" CONTENT="{Cexpires}">

 <!-- <SCRIPT  LANGUAGE="JavaScript1.2" SRC="webfxjs/Calendar1-901.js"></SCRIPT>-->
  
  
  <script language="JavaScript1.2" src="webfxjs/tooltip.js"></script>
  <script language="JavaScript1.2">
  function neww(target,title,width,height)
	{
		newWindow=window.open( target,title,"toolbar=no,width=" + width + ",height=" + height +" ,directories=no,status=no,scrollbars=yes,menubar=no");
		newWindow.focus();
	}
	
	function myPassword() {
		neww("myPasswd.php","MyPassword",400,200)
	}
  </script>
  
  <!--<script language="JavaScript1.2" src="webfxjs/genmove.js"></script>-->
  <link rel="STYLESHEET" type="text/css" href="style/style.css">


</head>
<body bgcolor="#9CC6FF" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0">

<table border="0" cellspacing="0" cellpadding="0" align="center">
<form name="ChangePassword" action="{PHP_SELF}" method="post">
<input type="hidden" name="debug" value="{debug}">
<tr>
	<td colspan="2" align="center"><font class="Normal"><strong>Search for a user</stong></font></td>
</tr>
<!--<tr>
	<td><font class="Normal"><strong>First Name</stong></font></td>
	<td><font class="Normal"><input type="text" name="finm"></font></td>
</tr>
<tr>
	<td><font class="Normal"><strong>Last Name</stong></font></td>
	<td><font class="Normal"><input type="text" name="lanm"></font></td>
</tr>-->
<tr>
	<td><font class="Normal"><strong>Last Name</stong></font></td>
	<td><font class="Normal"><input type="text" name="shnm"></font></td>
</tr>

<tr>
	<td colspan="2" align="right"><input type="submit" value="Find user" ></td>
</tr>
</table>
</form>	

<br>
<!--BeginChangePMsg-->
<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align ="center"><font class="NormalRed"><strong>{myMsg}</stong></font></td>
</tr>
</table>
<!--EndChangePMsg-->
<table  border="1" cellspacing="1" cellpadding="1" align="center">
<tr>
	<td><font class="Normal"><strong>Name</strong></font></td>
	<td><font class="Normal"><strong>Greek Name</strong></font></td>
	<td><font class="Normal"><strong>Password Action</strong></font></td>
	<td><font class="Normal"><strong>Group</strong></font></td>
	<td><font class="Normal"><strong>Group Action</strong></font></td>
</tr>
<!--BeginStaffNames-->
<tr>
	<td><font class="Normal"><strong>{Name}</strong></font></td>
	<td><font class="Normal"><strong>{GName}&nbsp;</strong></font></td>
	<form name="ChangePassword" action="{PHP_SELF}" method="post">
	<input type="hidden" name="type" value="passwd">
	<input type="hidden" name="debug" value="{debug}">
	<input type="hidden" name="stfurno" value="{stfurno}">
	<input type="hidden" name="qpeno" value="{qpeno}">
	<input type="hidden" name="qlanm" value="{Name}">
	<td><input type="submit" value="Reset password" ></td>
	</form>
	<form name="ChangeUGRP" action="{PHP_SELF}" method="post">
	<input type="hidden" name="type" value="group">
	<input type="hidden" name="debug" value="{debug}">
	<input type="hidden" name="stfurno" value="{stfurno}">
	<input type="hidden" name="qlanm" value="{Name}">
	<td><select name="UGRP">
	<!--BeginUGRP-->
		<option value="{UGRPvalue}" {UGRPSelected}>{UGRPvalue}
	<!--EndUGRP-->
	</select></td>
	<td><input type="submit" value="Change Group" ></td>
	</form>
	
</tr>
<!--EndStaffNames-->
</table>





<!--BeginPerf-->
<div onmouseover="this.style.overflow='visible';" onmouseout="this.style.overflow='hidden';" class="moveme" style="position: relative;overflow:hidden;width:80px;height:18px;z-index:20;BORDER:black 1px solid;BACKGROUND-COLOR:beige">
	<font class="TrHeader">Performance:</font><br>
	<div style="width:450px;BORDER:black 1px solid;BACKGROUND-COLOR:beige">
		{PerfOutPut}
	</div>
</div>
<!--EndPerf-->


</body>
</html>

<!--End Footer-->
<!-- END: myPassword.tpl -->