<!-- NAME: Xls.tpl -->
<!--Start Header-->
<html>
<head>
	<title>{PageTitle}</title>
<META NAME="description" CONTENT="">
  <META NAME="author" CONTENT="Infomap - Team@Work - T. Dimitropoulos/e-mail:thimios@infomap.gr">
  <META NAME="dbauthor" CONTENT="Infomap - Team@Work - A.Papachrysanthou/e-mail:Anthony@infomap.gr">  
  <META NAME="author" CONTENT="Infomap - Team@Work - G. Fourlanos/e-mail:fou@infomap.gr">
  <META NAME="Art designer" CONTENT="Infomap - Team@Work - S. Rallis/e-mail:stratos@infomap.gr">  
  <META HTTP-EQUIV="Reply-to" CONTENT="webmaster@infomap.gr">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1253">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-7">
  <META HTTP-EQUIV="Expires" CONTENT="webmaster@infomap.gr">
	
  
  <META HTTP-EQUIV="Expires" CONTENT="{Cexpires}">

  
<STYLE TYPE="text/css">
	.atmp{}



	.InfTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
	}
	.PageTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
		font-weight : bold;
	}

	.Menu{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.Normal{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.TrHeader{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.ABB{font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000;font-weight : bold;margin-left : 4;margin-right : 4;}
	.SearchTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #ffffff;
		font-weight : bold;
	}
	.NoRows{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.error{font-size:12pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : red}
	.RowsFound{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
	#SearchDiv	{position: absolute; top: 600px; left: 300px; padding: 3px; margin: 5px;behavior:url("webfxjs/genmove.htc");VISIBILITY: hidden;}
	.TOOLTIPSTYLE{background: infobackground; color: infotext; font: statusbar; padding: 1; border: 1 solid black}
</STYLE>


</head>
<body bgcolor="#9CC6FF" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0">
<!--BeginOrgUnit-->
<!--EndOrgUnit-->

<!--BeginOrgFunction-->
<!--EndOrgFunction-->

<!--BeginBSD-->
<!--EndBSD-->

<!--BeginODA-->
<!--EndODA-->


<!--BeginFunction-->
<!--EndFunction-->


<!--BeginDspDateFromTo-->
<!--EndDspDateFromTo-->

<!--BeginDspbtnValueOrg-->
<!--EndDspbtnValueOrg-->

<!--BeginExport-->
<!--EndExport-->

<!--BeginLegend-->
<!--EndLegend-->

<!--BeginPerf-->
<!--EndPerf-->

<!--BeginNoRosterLevel-->
	<!--BeginRosterLevel-->
	<!--EndRosterLevel-->
<!--EndNoRosterLevel-->	

<br>
<!--BeginMonthFunction-->
	<!--BeginMonth-->
	<!--EndMonth-->
<!--EndMonthFunction-->

<!--BeginNoResults-->
<div name="StaffTable">
<table cellpadding=0 cellspacing=0 border=0>
	<tr>
		<td colspan="2" align="center"><font class="TrHeader"><strong>Last updated : {Lstu}</strong></font></td>
	</tr>
	<tr>
		<td valign=top>
			<table cellpadding=0 cellspacing=0 border=1>
				<tr><th><font class="TrHeader">Employee<br><br></font></th></tr>
				<!--BeginStaffNames-->
				<tr><th align="left"><font class="TrHeader">{Fname}</font></th></tr>
				<!--EndStaffNames-->
				<tr><td>&nbsp;</td></tr>
				<!--BeginDailyStatsScod-->
				<tr><th align="left"><font class="TrHeader">{Scod}</font></th></tr>
				<!--EndDailyStatsScod-->
			</table>
		</td>
		<td width="580" valign="top" bgcolor="#C0C0C0">
			<span style="overflow:scroll;width:580;">
				<table cellpadding=0 cellspacing=2 border=0 style="text-align:center;">
					<tr>
						<!--BeginDates-->
							<th bgcolor="{DatebgColor}" align="center"><font class="TrHeader">{DateName}<br>{DateNum}</font></th>	
						<!--EndDates-->
					</tr>
					<!--BeginDrrDates0-->
					<tr>
						<!--BeginDrrDates-->
							<td bgcolor="{ScodColor}" align="center"><font class="TrHeader" style="cursor: pointer;" tooltip="{ToolTipScod}">{Scod}</font></td>
						<!--EndDrrDates-->
					</tr>
					<!--EndDrrDates0-->
					<tr><td>&nbsp;</td></tr>
					<!--BeginDrrStats0-->
					<tr>
						<!--BeginDailyStats-->
							<td bgcolor="#ffffff" align="center"><font class="TrHeader" >{StatNumber}</font></td>
						<!--EndDailyStats-->
					</tr>
					<!--EndDrrStats0-->
				</table>
			</span>
		</td>
	</tr>
</table>
</div>
<!--EndNoResults-->

</body>
</html>

<!--End Footer-->
<!-- END: Xls.tpl -->