
<div class="timedisplay"><span id="Uhrzeit"></span> ---> PAGE_ID: <?php echo $page_array[$pointer]["PAGE_ID"]; ?></div>
<table cellspacing="0" cellpadding="3" border="0" class="deptrows" width="100%">

<tr>
  <td class="pink">Scheduled</td>
  <td class="pink">Flight No.</td>
  <td class="pink">To</td>
  <td class="pink">Estimated</td>
  <td class="pink">Row</td>
  <td class="pink">Remark</td>
</tr>

<?php

$departures = $oracleArray;

for ($i = 0; $i <= 17; $i++)
{
	if (moduloEqual($i))
	{
		$style = "light_grey";
	}
	else 
	{
		$style = "dark_grey";
	}
	
	$time = getSceduleTime($oracleArray[$i]["SCHEDULED_TIME"]);
	$estimated = getEstiamtedTime($oracleArray[$i]["ESTIMATED_TIME_OF_FLIGHT"]);
	
	echo('
	<tr class="row">
  		<td class="'.$style.'">'.$time.'</td>
  		<td class="'.$style.'">'.$oracleArray[$i]["FLIGHTNUMBER"].'</td>
  		<td class="'.$style.'">'.$oracleArray[$i]["AIRPORT_DESCRIPTION"].'</td>
  		<td class="'.$style.'">'.$estimated.'</td>
  		<td class="'.$style.'">'.$oracleArray[$i]["POSITION_DEPARTURE"].'</td>
  		<td class="'.$style.'">'.$oracleArray[$i]["FLIGHT_STATUS_DESCRIPTION"].'</td>
	</tr>
	');
}
?>

</table>
