<%@ Page Language="C#" MasterPageFile="~/Web/iTrek/MasterPage.master" AutoEventWireup="true" CodeFile="Belt.aspx.cs" Inherits="Web_iTrek_Admin_Belt" Title="Admin - Belt" Theme="SATSTheme" %>

<%@ Register Src="../../Wu/WuUnAuthorise.ascx" TagName="WuUnAuthorise" TagPrefix="uc2" %>
<%@ Register Src="WuBelt.ascx" TagName="WuBelt" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cp1" Runat="Server">
    <uc1:WuBelt ID="WuBelt1" runat="server" />
    <uc2:WuUnAuthorise ID="WuUnAuthorise1" runat="server" />
</asp:Content>

