<table align="center" style="background-color: #FFFFFF;">
 <tr>
	<td><img src="../pics/top.gif"></td>
 </tr>
 <tr>
	<td><img src="../pics/main_admin_bar.jpg"></td>
 </tr>
 <tr>
   <td valign="top">
   <!--BeginFormAdministration--><table align="center" style="border-style: outset; border-width: 2">
     <tr>
      <td colspan="7"  style="background-color: #990000; text-align: Center; border-style: outset; border-width: 1"><font style="font-size: 12pt; color: #FFFFFF; font-weight: bold">Administrator's Menu</font></td>
     </tr>
     <tr>
      <td style="background-color: #FFFFEE; border-style: inset; border-width: 1"><a href="{USR}"><font style="font-size: 10pt; color: #000000">Users</font></a></td>
      <td style="background-color: #FFFFEE; border-style: inset; border-width: 1"><a href="{MNU}"><font style="font-size: 10pt; color: #000000">Menus</font></a></td>
      <td style="background-color: #FFFFEE; border-style: inset; border-width: 1"><a href="{TTF}?FormS_FLDS_Page=1"><font style="font-size: 10pt; color: #000000">Table Fields</font></a></td>
      <td style="background-color: #FFFFEE; border-style: inset; border-width: 1"><a href="{TEMP}"><font style="font-size: 10pt; color: #000000">Templates</font></a></td>
      <td style="background-color: #FFFFEE; border-style: inset; border-width: 1"><a href="{UMT}"><font style="font-size: 10pt; color: #000000">User's Menus & Templates</font></a></td>
      <td style="background-color: #FFFFEE; border-style: inset; border-width: 1"><a href="{UMF}"><font style="font-size: 10pt; color: #000000">User's Menus & Fields</font></a></td>
      <td style="background-color: #FFFFEE; border-style: inset; border-width: 1"><a href="{LOGOUT}"><font style="font-size: 10pt; color: #000000">Log Out</font></a></td>
     </tr>
    </table><!--EndFormAdministration-->
   </td>
  </tr>
 </table>
