  <STYLE TYPE="text/css">
	.atmp{}
	.TableColHeader{
		font-size:12;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 1pt;
		margin-right: 1pt;
		font-family:Arial,Tahoma,Verdana;
		font-weight:;
		color : #FFFFFF;
		background : green;
		text-align : center;
		text-decoration:none; 
	}

	.TDArrival0{white-space:nowrap; font-size:12; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFEBAD;text-align : center; empty-cells:show}
	.TDArrival1{white-space:nowrap; font-size:12; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFFF80;text-align : center; empty-cells:show}
	.TDDeparture0{white-space:nowrap; font-size:12; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#9CB6D0;text-align : center;}
	.TDDeparture1{white-space:nowrap; font-size:12; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#9CC6FF;text-align : center;}
	.TDHL{text-decoration: blink; font-size:12; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #FFFFFF;background:red;text-align : center;}

	.Menu{white-space:wrap; font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #FFFFFF}
	.Normal{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Tahmoma,Arial,Verdana;color : #000000}
	.RowsFound{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}		
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
</STYLE>
