﻿body{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:10px; 
color:#000066;
}
TD
{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px; 
color:#000000;	
}

.cssMenuSelected
{
	background-color : Silver ;
	color : Blue;
	border-color : Black;
	border-style:solid;
	border-spacing:1px;
	border-width:thin;
}

.cssMenuItemDynamic
{
	background-color : Yellow ;
	color : Blue;
}

.cssMenuDynamic
{
	background-color : Silver;
	color : Blue;
}

.cssMenuHover
{
	background-color : Silver ;
	color : Black;
}

.cssMenuSub
{
	background-color : Silver ;
	color : Blue;
}

.cssMenuItem
{
	background-color : Silver ;
	color : Blue;
}

.HighLightMAB
{
	background-color : Red ;
	color : Black;
}

.Heading
{
	background-color : Silver ;
	color : Black;
	font-size : larger;
	font-weight:bold;
}

.SubHeading
{
	background-color : Silver ;
	color : Black;
	font-size:medium;
}

.BMPass
{
	background-color : Green ;
	color : Black;
	font-size:medium;
}

.BMFail
{
	background-color : Red ;
	color : Black;
	font-size:medium;
}

.NewMsg
{
	background-color : Red ;
	color : Black;
	font-size:medium;
}

.NoNewMsg
{
	background-color : Green ;
	color : Black;
	font-size:medium;
}