body {
	overflow: hidden;
	background-color: #d992c4;
	margin: 0px 0px 0px 0px;
  
}

.timedisplay {
	right: 10px;
	bottom: 6px;
	position: absolute;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
	color: #000000;

}
.datedisplay {
	left: 10px;
	bottom: 6px;
	position: absolute;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
	color: #000000;

}


.deptrows {
  font: normal bold 20px Arial, Helvetica, sans-serif;
}

.grey {
  text-align: left;
  font: normal normal bold 50px Arial, Helvetica, sans-serif;
  background-color: #8f8f8f;
  height: 60px;
  color: #000000;
}

.white {
  text-align: left;
  font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}


.pink {
  text-align: left;
  font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}

/* 
Colors and size of cells for departure display
_hi for light colors background
_lo for low color background
 */
 
 .light_grey {
  background-color: #505050;
  height: 32px;
   color: #ffffff;
}
.dark_grey {
  background-color: 202020;
  height: 32px;
   color: #ffffff;
}



td.t01 {
	/* width: 170px; */
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}
td.t02 {
	/* width: 170px; */
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}
td.t03 {
	/* width: 170px; */
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}
td.t04 {
	/* width: 170px; */
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}
td.t05 {
	/* width: 170px; */
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}
td.t06 {
	/* width: 170px; */
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}





td.t01_light_grey {
	background-color: #444444;
	color: White;
  text-align: center;
	/*width: 60px; */
}
td.t01_dark_grey {
	background-color: #202020;
	color: White;
  text-align: center;
	/*width: 60px; */
}

td.t02_light_grey  {
  background-color: #444444;
	color: White;
  text-align: center;
	/*width: 60px; */
}
td.t02_dark_grey  {
  background-color: #202020;
	color: White;
  text-align: center;
	/*width: 60px; */
}


td.t03_light_grey  {
  background-color: #444444;
	color: White;
	/*width: 60px; */
	height: 32px;
	padding-right: 4px;
}
td.t03_dark_grey  {
  background-color: #202020;
	color: White;
	/*width: 60px; */
	height: 32px;
	padding-right: 4px;
}

td.t04_light_grey  {
  background-color: #444444;
	color: White;
	/*width: 60px; */
}
td.t04_dark_grey  {
  background-color: #202020;
	color: White;
	/*width: 60px; */
}


td.t05_light_grey {
	background-color: #444444;
	color: White;
  text-align: center;
	/*width: 60px; */
}
td.t05_dark_grey {
	background-color: #202020;
	color: White;
  text-align: center;
	/*width: 60px; */
}


td.t06_light_grey {
	background-color: #444444;
	color: White;
  text-align: center;
	/*width: 60px; */
}
td.t06_dark_grey {
	background-color: #202020;
	color: White;
  text-align: center;
	/*width: 60px; */
}


td.t07_light_grey {
	background-color: #444444;
	color: White;
	/*width: 60px; */
}
td.t07_dark_grey {
	background-color: #202020;
	color: White;
	/*width: 60px; */
}


td.t08_light_grey {
	background-color: #444444;
	color: White;

	/*width: 60px; */
}
td.t08_dark_grey {
	background-color: #202020;
	color: White;
	/*width: 60px; */
}
