  body {
	overflow: hidden;
	background-color: #d992c4;
	margin: 0px 0px 0px 0px;
  
}

.timedisplay {
	right: 10px;
	bottom: 6px;
	position: absolute;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
	color: #000000;

}
.datedisplay {
	left: 10px;
	bottom: 6px;
	position: absolute;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
	color: #000000;

}


.deptrows {
  font: normal bold 20px Arial, Helvetica, sans-serif;
}

.grey {
  text-align: left;
  font: normal normal bold 50px Arial, Helvetica, sans-serif;
  background-color: #8f8f8f;
  height: 60px;
  color: #000000;
}

.white {
  text-align: left;
  font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}


.pink {
  text-align: left;
  font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}

/* 
Colors and size of cells for departure display
_hi for light colors background
_lo for low color background
 */
 
 .light_grey {
  background-color: #505050;
  height: 32px;
   color: #ffffff;
}
.dark_grey {
  background-color: 202020;
  height: 32px;
   color: #ffffff;
}



td.scheduled {
	width: 170px;
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}
td.flight {
	width: 90px;
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}
td.to {
	width: 230px;
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}
td.estimated {
	width: 70px;
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}

td.remark {
	width: 200px;
	padding-left: 4px;
	font: normal normal bold 20px Arial, Helvetica, sans-serif;
  background-color: #d992c4;
  height: 45px;
}





td.scheduled_light_grey {
	background-color: #444444;
	color: White;
  text-align: center;
	width: 60px;
}
td.scheduled_dark_grey {
	background-color: #202020;
	color: White;
  text-align: center;
	width: 60px;
}

td.logo_light_grey  {
  background-color: #444444;
	color: White;
  text-align: center;
	width: 120px;
}
td.logo_dark_grey  {
  background-color: #202020;
	color: White;
  text-align: center;
	width: 120px;
}


td.flight_light_grey  {
  background-color: #444444;
	color: White;
	width: 90px;
	height: 32px;
	padding-right: 4px;
}
td.flight_dark_grey  {
  background-color: #202020;
	color: White;
	width: 90px;
	height: 32px;
	padding-right: 4px;
}

td.to_light_grey  {
  background-color: #444444;
	color: White;
	width: 240px;
}
td.to_dark_grey  {
  background-color: #202020;
	color: White;
	width: 180px;
}


td.estimated_light_grey {
	background-color: #444444;
	color: White;
  text-align: center;
	width: 60px;
}
td.estimated_dark_grey {
	background-color: #202020;
	color: White;
  text-align: center;
	width: 60px;
}



td.remark_light_grey {
	background-color: #444444;
	color: White;

	width: 250px;
}
td.remark_dark_grey {
	background-color: #202020;
	color: White;

	width: 250px;
}
