  <STYLE TYPE="text/css">
	.atmp{}



	.InfTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
	}
	.PageTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
		font-weight : bold;
	}

	.Menu{font-size:10pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.Normal{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.NormalRed{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : red}
	.TrHeader{font-size:9pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000}
	.ABB{font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #000000;font-weight : bold;margin-left : 4;margin-right : 4;}
	.AIAFrontPage{font-size:12pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #0D2E8D;margin-left : 4;margin-right : 4;}
	.SearchTitle{
		font-size:12pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #ffffff;
		font-weight : bold;
	}
	.NoRows{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.error{font-size:12pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : red}
	.RowsFound{font-size:10pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color : #001A5D}
	.Clock{font-size:8pt; margin-top: 2pt; margin-bottom: 2pt;font-family:Arial,Tahoma,Verdana;color :#000000}
	A.Menu:hover,A.Normal:hover {
		color:red;
		text-decoration:underline; }
	#SearchDiv	{position: absolute; top: 600px; left: 300px; padding: 3px; margin: 5px;behavior:url("webfxjs/genmove.htc");VISIBILITY: hidden;}
	.TOOLTIPSTYLE{background: infobackground; color: infotext; font: statusbar; padding: 1; border: 1 solid black}

	.FrontMenu{
		font-size:20pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family:Arial,Tahoma,Verdana;
		color : #000000;
		background: #CEDEE3;
		margin-left : 4;
		margin-right : 4;
	}
	.TDStandardTitle{
		font-size:11pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 2pt;
		margin-right: 2pt;
		font-family:Arial,Tahoma,Verdana;
		;font-weight:bold;
		color : #000000;
		background : #C0C0C0;
		text-align : center;
		text-decoration:none;
	}

        .TD0{white-space:nowrap; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFEBAD;text-align : center; empty-cells:show}
	.TD1{white-space:nowrap; font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;font-weight:900;color : #000000;background:#FFFF80;text-align : center; empty-cells:show}
	.TDHL{
                
                font-size:8pt; margin-top: 0pt; margin-bottom: 0pt;font-family:Arial,Tahoma,Verdana;color : #FFFFFF;background:red;text-align : center;}
	.TDHLO{
		
		font-size: 8pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: Arial,Tahoma,Verdana;
		color: #FFFFFF;
		background: #D2691E;
		text-align: center;
	}
        #text-decoration: blink;
</STYLE>

