﻿body{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px; 
color:#000066;
background-color : #f0f0f0 ;
height:95%;
}
TD
{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px; 

}

.Logo
{
	background-color: #f0f0f0 ;
	color : Yellow;
}

.cssMenuSelected
{
	background-color : #f0f0f0 ;
	color : Blue;
	border-color : Black;
	border-style:solid;
	border-spacing:1px;
	border-width:thin;
}

.cssMenuItemDynamic
{
	background-color : Yellow ;
	color : Blue;
}

.cssMenuDynamic
{
	background-color : #f0f0f0;
	color : Blue;
}

.cssMenuHover
{
	background-color : #f0f0f0 ;
	color : Black;
}

.cssMenuSub
{
	background-color : #f0f0f0 ;
	color : Blue;
}

.cssMenuItem
{
	background-color : #f0f0f0 ;
	color : Blue;
}

.HighLightMAB
{
	background-color : Red ;
	color : Black;
}

.Highlight
{
   color : Red ;
   background-color:inherit;
   font-weight:bold;
}

.HighlightDisabled
{
	background-color : Red ;
	color:inherit;
	font-weight:bold;
}

.HLTsit
{
	background-color : Yellow ;
	color : Black;
	font-weight :bold;
}

.Heading
{
	background-color : #f0f0f0 ;
	color : Black;
	font-size : 16px;
	font-weight:bold;
}

.HeadingBar
{
	background-color : #f0f000 ;
	color : Black;
	font-size : 16px;
	font-weight:bold;
	border-color:Black;
	border-width: 1px;
	border-style:outset;
}

.SubHeading
{
	background-color : #f0f0f0 ;
	color : Black;
	font-size:14px;
}

.BMPass
{
	background-color : Green ;
	color : Black;
	font-size:medium;
}

.BMFail
{
	background-color : Red ;
	color : Black;
	font-size:medium;
}

.NewMsg
{
	background-color : Red ;
	color : Black;
	font-size:medium;
}

.NoNewMsg
{
	background-color : Green ;
	color : Black;
	font-size:medium;
}

.ReadMsg
{
	font-weight :normal;
}

.UnReadMsg
{
	font-weight :bold;
}

.GridViewMsg{
font-weight:normal;
font-family:Arial, Helvetica, sans-serif;
font-size:12px; 
color:#000066;
background-color : #f0f0f0 ;
}

.Master
{
	background-color : #f0f0f0 ;
	color : Black;
}

.GvDefault
{
	background-color : White ;
}

.GvAlternate
{
	background-color : Silver ;
}

.GvHeader
{
	background-color : Black ;
	color : White;
	font-size:medium;
	font-weight :bold;
}

.UnAuthorise
{
	color : Red;
	font-size:medium;
	font-weight :bold;
}

.cpBodyBk
{
    background-color: #DCE4F9;
    font: normal 11px auto Verdana, Arial;
    border: 1px gray;               
    width:450px;           
    padding: 4px;
    padding-top: 2px;
    height:0px;
    overflow: hidden;
}

.cpBody
{
    width:100%;
    height:0px;
    overflow: hidden;
}