body{
    font-family: Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
    /*  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati; */
    font-size:  0.6em;
    /*  font-size: 0.8em;*/
    font-style: normal;
    /*  color: #000; */
    height:auto !important; /* ie6 ignores it */
    height:100%; /* fix */
    position: relative;
}
.container {
    margin: 30px auto;
    padding: 0;
    width: 90%;
}


/* SAMPLE CSS STYLES FOR JQUERY CLOCK PLUGIN */
.jqclock { float:left; text-align:center;}
.clockdate { color: DarkRed; margin-bottom: 10px; font-size: 18px; display: block;}
.clocktime { border: 2px inset White; background: Black; padding: 5px; font-size: 14px; font-family: "Courier"; color: LightGreen; margin: 2px; display: block; }
.redText {     text-decoration: blink;    color : #FFFFFF;    background:red; }

.dataTables_info { padding-top: 0; }
.dataTables_paginate { padding-top: 0; }
.css_right { float: right; }