<table BORDER=0 width=100%>
	<tr>
		<td width="100%">&nbsp;</td>
		{if $Change_Frames eq true }
		<td align="right" valign="top"><input type="Button" name="ButtonFrame" id="Btn_Frame"
			value="{$Btn_FrameTitle}" onClick="change_frameset(this.value)"></td>
		{/if}
        <form action="cuteif_main.php" method="post" target="_top">
		<td align="right" valign="top"><input type="submit" name="Button"
			value="Refresh Data"></td>
        </form>
		<form action="goodbye.php" method="post" target="_top">
		<td align="right" valign="top"><input type="submit" name="Button"
			value="Exit"></td>
		</form>
		
	</tr>
</table>