<html>
    <head>
        <title>{$PageTitle}</title>
        <META NAME="description" CONTENT="">
        <META NAME="author" CONTENT="UFIS AS">
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset={$CharSet}">
        <META HTTP-EQUIV="Expires" CONTENT="{$ContenetExpires}">
        <link rel="STYLESHEET" type="text/css" href="style/style.css">
        <meta http-equiv="Refresh" content="20; url=index.php">
    </head>
    <body bgcolor="White" text="Black" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 link="Black" vlink="Black" alink="Black" background="pics/empty_loginback.gif">
        <table border=0	 width="100%">
            <tr>
                <td align="left"></td>
            </tr>

        </table>
        <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
        <BR><BR><BR><BR><BR><BR>
        <center>
            <p><font size=+2 face="Arial">
                <hr width=60%>
                {$ErrorMsg}
                <hr width=60%>
        </font></center>

        <table>
            <tr height=110>
                <td align=left><img src="pics/UFIS-Logo300dpii.jpg" alt="UFIS AS GmbH " width="117" hspace="34" border="0" title="UFIS AS GmbH ">
                    &nbsp;&nbsp;
                <FONT FACE="Arial" SIZE=2 COLOR=#000000> &copy; 1995-2006 UFIS AS GmbH </FONT></td>
            </tr>
        </table>

    </body>
</html>
