<table BORDER=0 width=100%>
    <tr>
        <td valign=top width=10% ><input type="button" name="Button" id="Btn_GateOpen" value="Gate Open" onclick="cput(this.value,'{$Type}')" class="{$gtoStyle}"></td>
        <td valign=top width=10% ><input type="button" name="Button" id="Btn_GateBoarding" value="Boarding"  onclick="cput(this.value,'{$Type}')" class="{$boaStyle}"></td>
        <td valign=top width=10% ><input type="button" name="Button" id="Btn_GateFinalCall" value="Final Call"  onclick="cput(this.value,'{$Type}')" class="{$fncStyle}"></td>
        <td valign=top width=10% ><input type="button" name="Button" id="Btn_GateClose" value="Gate Closed"  onclick="cput(this.value,'{$Type}')" style="{$gclStyle}"></td>
    </tr>
    <tr>
        <td valign=top colspan="4" width=10% ><input type="button" name="Button" id="Btn_GateClear" value="Clear Gate"  onclick="cput(this.value,'{$Type}')" style="{$clrStyle}"></td>

    </tr>
  <tr>
        <td valign=top width=10% colspan="4" align="right"><input type="button" name="Button" id="Btn_Transmit" value="Transmit"  onclick="cput(this.value,'{$Type}')" style="{$clrStyle}"></td>

    </tr>
</table>