

#PCL {
		font-family: verdana, arial, helvetica, sans-serif;
		font-style: none;
		font-weight: normal;
		text-decoration: none;
		font-size: 8pt;
}

#PTT {
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 8pt;
}

#PST {
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 8pt;
}

