<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
    <mobile:Form id="Form1" runat="server"><mobile:SelectionList ID="SelectionList1"
        Runat="server" Rows="1"
        SelectType="CheckBox">
        <Item Text="Text" Value="Text" />
    </mobile:SelectionList><br /><br />Remark:<br /><mobile:TextBox ID="txtBxuldRem"
        Runat="server">
    </mobile:TextBox><mobile:TextBox ID="txtBxuldRem2" Runat="server">
    </mobile:TextBox> <mobile:TextBox ID="txtBxuldRem3" Runat="server">
    </mobile:TextBox> <mobile:Command ID="btnULDSend" Runat="server">Send</mobile:Command></mobile:Form>
</body>
</html>
