<%@ Page CodeFile="UpdateFlightData.aspx.cs" Inherits="UpdateFlightData" Language="C#" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Import Namespace="System.Web.Mobile" %>
<%@ Import Namespace="iTrekData" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
</head>
<body>
    &nbsp;<mobile:Form ID="Form1" Runat="server" Paginate="False"><mobile:Label ID="label1"
        Runat="server"></mobile:Label> <mobile:Link ID="Link1" Runat="server" NavigateUrl="~/test.aspx">Link</mobile:Link> <br /><mobile:ObjectList ID="ObjectList1" Runat="server" CommandStyle-StyleReference="subcommand"
            LabelStyle-StyleReference="title" DefaultCommand="SelectData" OnItemCommand="ObjectList1_ItemCommand" Alignment="Left">
            <Command Name="SelectData" Text="Select data value to update" />
            <Command Name="InsertData" Text="Insert New Data Value" />
        </mobile:ObjectList>Send data:<br /><mobile:TextBox ID="txbSendData" Runat="server">
        </mobile:TextBox><br /><br /><br /> <mobile:Command ID="Command1" Runat="server" OnClick="Logout_Click" SoftkeyLabel="go">Logout</mobile:Command></mobile:Form>&nbsp;
</body>
</html>