<%@ Page Language="C#" MasterPageFile="~/Web/iTrek/MasterPage.master" AutoEventWireup="true" CodeFile="Msg.aspx.cs" Inherits="Web_iTrek_Msg" Title="Messages" Theme="SATSTheme" %>
<%@ Register Src="../Wu/WuMsg.ascx" TagName="WuMsg" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cp1" Runat="Server">
    <uc1:WuMsg ID="WuMsg1" runat="server" Visible="true" />
</asp:Content>

