<%@ Page Language="C#" MasterPageFile="~/Web/iTrek/MasterPage.master" AutoEventWireup="true" CodeFile="UnAuthorised.aspx.cs" Inherits="Web_iTrek_UnAuthorised" Title="UnAuthorised" Theme="SATSTheme" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cp1" Runat="Server">
    You are unauthorised to view the information on this page.
</asp:Content>

