<html>
  <head>
    <title>{$PageTitle}</title>
    <META NAME="description" CONTENT="">
    <META NAME="author" CONTENT="UFIS AS">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset={$CharSet}">
    <META HTTP-EQUIV="Expires" CONTENT="{$ContenetExpires}">
    <link rel="STYLESHEET" type="text/css" href="style/style.css">
</head>
<body bgcolor="White" text="Black" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 link="Black" vlink="Black" alink="Black" background="pics/empty_loginback.gif">
	<table border=0	 width="100%">
		<tr>
			<td align="left"></td>
		</tr>

	</table>
<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
&nbsp;&nbsp;&nbsp;
<center>
<p><font size=+3 font face=Arial>&nbsp;&nbsp;
{$ErrorMsg}
</font></center>

<br><font size=+2></font>
<br><font size=+2 font face=Arial>
<form action="{$LoginAction}" method="post" title="Login" name="Login">
	<input name="Request" type="hidden" value="Login">

	<TABLE border=0 align=center>
		<TR>
			<TD width=10%></TD>
			<TD width=20%>
				Username:
			</TD>
			<TD width=50%>
				<input maxlength="30" name="username" size="30" type="text">
			</TD>
			<TD width=10%>
			</TD>
		</TR>
		<TR>
			<TD width=10%>
			</TD>
			<TD width=20%>
				Password:
			</TD>
			<TD width=50%>
				<input maxlength="30" name="password" size="30" type="password">
			</TD>
			<TD width=10%>
			</TD>
		</TR>
		<TR>
			<TD width=10%>
			</TD>
			<TD>

			</TD>
			<TD>
				<input name="Submit" type="submit" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			       <input name="Clear" type="reset" value="&nbsp;&nbsp;Clear&nbsp;&nbsp;">
			</TD>
			<TD width=10%>
			</TD>
		</TR>
	</TABLE>
</form></font>
<table>
<tr height=110>
	<td align=left><img src="pics/UFIS-Logo300dpii.jpg" alt="UFIS AS GmbH " width="117" hspace="34" border="0" title="UFIS AS GmbH ">
	&nbsp;&nbsp;
	<FONT FACE="Arial" SIZE=2 COLOR=#000000> &copy; 1995-2007 UFIS AS GmbH </FONT></td>
</tr>
</table>
</body>
</html>
