<!-- NAME: inf.tpl -->
<!-- 20060621 JIM: PRF 8203: correct sorting via "ORDER BY" instead of sortColumn() -->
<!--Start Header-->
<html>
<head>
	<title>{PageTitle}</title>

  <META NAME="author" CONTENT="Infomap/Greece - Team@Work">
  <META NAME="dbauthor" CONTENT="Infomap/Greece & ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META NAME="Art designer" CONTENT="Infomap/Greece & ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META NAME="co-author" CONTENT="ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META NAME="Art design" CONTENT="Infomap/Greece & ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META HTTP-EQUIV="Reply-to" CONTENT="Infomap/Greece & ABB Airport Technologies GmbH/Germany  - Team@Work">
  <META HTTP-EQUIV="pragma" content="no-cache">
  <META HTTP-EQUIV="expires" content="0">
  <META HTTP-EQUIV="cache-control" content="no-cache">
  <META HTTP-EQUIV="Content-Type" content="text/html; charset=ISO-8859-2">
  <META HTTP-EQUIV="Refresh" CONTENT="{Refresh}">
  <META HTTP-EQUIV="Expires" CONTENT="{Cexpires}">

  <link rel="STYLESHEET" type="text/css" href="style/{STYLESHEET}">
  <link rel="STYLESHEET" type="text/css" href="style/tablesort.css">

<script type="text/javascript" src="webfxjs/tooltip.js"></script>
<script type="text/javascript" src="webfxjs/tablesort.js"></script>
<script type="text/javascript" src="webfxjs/genfunctions.js"></script>
<!-- 20060727 JIM: PRF 8208: Calendar style date input -->
<script type="text/javascript" src="webfxjs/calendar/calendar.js"></script>
<script type="text/javascript" src="webfxjs/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="webfxjs/calendar/calendar-en.js"></script>
<style type="text/css"> @import url("webfxjs/calendar/calendar-system.css"); </style>
<script language="JavaScript"><!--
function ResetValues() {
}	
// -->

</script>
<!-- 20060727 JIM: PRF 8202: Begin: set focus to first search field -->
<!--BeginSetFocus-->
<script language="JavaScript"><!--
function SetMyFocus() {
      
}
-->
</script>
<!--EndSetFocus--> 
<!-- 20060727 JIM: PRF 8202: End: set focus to first search field -->

</head>
<body bgcolor="#FFFFFF" text="#000000" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 link="#000000" vlink="#000000" alink="#000000" onload="showtime();" >
{overlib}
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	<td align="center" valign="top"></td>
	<td>{Debugmsg}</font></td>
</tr>
<tr>
	<td  align="center" valign="top" background="pics/main_bar.jpg" width="100%">
		<table border=0 width="100%">
			<tr>
				<td align="left" width="33%">
					<font class="info">{ConnectionInfo}</font>
				</td>
				<td align="center"><font class="PageTitle">{PageTitle}</font></td>
				<td align="right" width="33%">
					<div id="DateTime"></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" align="right"><a href="{PHP_SELF}?Lang=ENG">English </a> | <a href="{PHP_SELF}?Lang=POL">Polish </a></td>
				<!--td align="center"><font class="normal">Airline[&nbsp;{airline}&nbsp;]&nbsp;Nr.[&nbsp;{flno}&nbsp;]&nbsp;City[&nbsp;{city}&nbsp;]</font></td-->
			</tr>
		</table>
	</td>
</tr>
<tr>
	<!--td bgcolor="#FEB501"><width="11" height="10" alt="" border="0"></td-->
</tr>
<tr>
	<!--td  align="center" valign="top" background="pics/menu_bar.gif"-->
	<td  align="center" valign="top">
		<table width="100%" border=0 cellpadding="1" cellspacing="3">
			<tr>
	    	<td width="33%" align="left" valign="top"><img height=50 src="pics/ufis.gif" alt="" border="0"></td>
			   <!--BeginMenus-->
				<td align="center" bgcolor="orange"><font class="menu">{MenuTitle}</font></td>
			   <!--EndMenus--> 
				<td width="33%" align="right">
					<a href="#" onClick="popUp('SearchDiv',true,'SearchDiv',200,200)" ><img src="pics/search.gif" alt="Search" border=0></img></a>
					</input>
				
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td valign="top"><img src="pics/dot.gif" width="1" height="5" alt="" border="0"></td>
</tr>
<tr>
	<td>
		<center>
		<!--End Header-->

	<FORM ACTION="{PHP_SELF}" METHOD="GET" onclick="sortColumn(event)">
	<TABLE width="100%" BORDER=0 CELLSPACING=0>
        <TR>
            <TD align="center">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;&lt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;    ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="    &gt;   ">
										<INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &gt;&gt;   ">
                    <!--INPUT TYPE="Submit" NAME="list_PagingMove" VALUE=" Επανεκτέλεση "-->
            </TD>
        </TR>
        <TR>
            <TH ALIGN=CENTER class="RowsFound">
                <NOBR>{RecordCount}&nbsp;Rows {HeadingTitle} &nbsp;&nbsp;&nbsp;&nbsp; {currentpage}  {pagecount}</NOBR>
            </TH>
        </TR>
        </TABLE>
				<img src="pics/dot.gif" width="1" height="1" alt="" border="0">
		<TABLE {ztabhtml}>
		<THEAD>
			<tr>{TableHeader}</tr>
		</THEAD>
		<tbody>
		   <!--BeginRows-->
			<tr>{TableRows}</tr>	
		   <!--EndRows-->
		 </tbody> 
		</TABLE>   
		<TABLE BORDER=0 CELLSPACING=0>
        <TR>
						<td>{SearchValues}</td>
            <TD align="center">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;&lt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &lt;    ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="    &gt;   ">
                    <INPUT TYPE="{FormType}" NAME="list_PagingMove" VALUE="   &gt;&gt;   ">
                    <INPUT TYPE="hidden" NAME="movenext" VALUE="{CurrentRow}">
                    <INPUT TYPE="hidden" NAME="prevrows" VALUE="{Prevrows}">
										{SearchValues}
										<input type="hidden" name="type" value="{type}">
										<input type="hidden" name="TMPL_MENUID" value="{TMPL_MENUID}">
                    <!-- 20060621 JIM: PRF 8203: Step No 1: correct sorting: -->
                    <input type="hidden" name="OrderBy" value="{OrderBy}">
            </TD>
        </TR>
        </TABLE>
	</FORM>
	</center>
	<!--Start Footer-->
	</td>
</tr>
<tr>
	<td>
	</td>
</tr>
</table>


<div name="SearchDiv" id="SearchDiv" >
<center>
<form action="{PHP_SELF}" method="post" name="action_form">
<input type="hidden" name="debug" value="{debug}">
<input type="hidden" name="type" value="{type}">
<input type="hidden" name="TMPL_MENUID" value="{TMPL_MENUID}">
<input type="hidden" name="FromSearch" value="TRUE">
						<!-- no used but needed because it is referenced
					   <!--BeginTDplus-->
							{todateplus}
					   <!--EndTDplus-->
						-->
<!-- If you need dynamic search here, please remove the comment lines around the following <table>-block  -->
	<table border=0 style="table-layout:fixed;" width="350" border=0 cellspacing="0" cellpadding="0"  bgcolor="#FEB501">
		<tr height="27">
			<td colspan="3" align="center" valign="middle" bgcolor="#004AD6"><font class="SearchTitle">SEARCH</font></td>
			<td rowspan="0" align="right" valign="top" bgcolor="#004AD6"> <a href="javascript:hidep('Debug')"><img src="pics/close.gif" width="28" alt="Close" border="0"></a></td>
		</tr>
	</table>
	<table border=0 style="table-layout:fixed;" width="350" border=0 cellspacing="2" cellpadding="5"  bgcolor="#FEB501">
	<tr>
		<td><img src="pics/dot.gif" width="1" height="10" alt="" border="0"></td>
	</tr>
	<!--BeginDynamicSearch-->
	<tr>
		<td style="border: 1px solid gray;"><font class="normal">{DSearchTitle}:</font></td>
		<td style="border: 1px solid gray;">{DSearchString}</td>
	</tr>
	<tr>
		<td><img src="pics/dot.gif" width="1" height="5" alt="" border="0"></td>
	</tr>
	<!--EndDynamicSearch-->
	<tr>
		<td   align="left" valign="center" >
		<input type="image" src="pics/submit.gif" alt="Submit" width="97"  style="cursor: auto;" border="0"></td>
		<td  align="right" valign="center" >
		<a href="#"  onClick="ResetValues()"><img src="pics/reset.gif" width="98"  alt="" border="0"></a> </td>
	</tr>
	<tr>
		<td><img src="pics/dot.gif" width="1" height="10" alt="" border="0"></td>
	</tr>
	</table>
</form>
</center>
</div>

<div name="Debug" id="Debug" STYLE="POSITION: absolute; Z-INDEX: 2; VISIBILITY: hidden; TOP:0px; LEFT:0px">
<table border="0" cellspacing="0" cellpadding="0"  bgcolor="#FEB501">
<tr>
	<td align="left" valign="top"><font class="normal"></font>
	</td>
			<td rowspan="6" align="right" valign="top"><a href="javascript:hidep('SearchDiv')"><img src="pics/close.gif" width="28" height="27" alt="Close" border="0"></a></td>
</tr>
</table>
</div>

<script  language="JavaScript1.2">
function hidep(menuName) {

	if (NS4) {
		for (i=0 ; i<document.layers.length; i++) {
			if ( (document.layers[i].name != "DateTime") && (document.layers[i].name !=menuName) )  {
				popUp(document.layers[i].name,false);
			}
		} 
	} else {
		var div = document.all.tags("DIV");
		for (i=0 ; i<div.length; i++) {
			if ( (div(i).id != "DateTime") && (div(i).id !=menuName) )  {
				popUp(div(i).id,false);
			}
		} 
	}
}	
</script>
</body>
</html>

<!--End Footer-->
<!-- END: inf.tpl -->
