<!-- NAME: PRM.tpl -->
<!--Start Header-->
<html>
<head>
	<title>{PageTitle}</title>
   <META NAME="description" CONTENT="">
  <META NAME="author" CONTENT="UFIS AS -  G. Fourlanos/e-mail:gfo@ufis-as.com">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1253">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-7">

  
  <META HTTP-EQUIV="Expires" CONTENT="{Cexpires}">

<script type="text/javascript" src="webfxjs/gs_sortable.js"></script>

  <link rel="STYLESHEET" type="text/css" href="style/style.css">
  <!-- 20060727 JIM: PRF 8208: Calendar style date input -->
<script type="text/javascript" src="webfxjs/calendar/calendar.js"></script>
<script type="text/javascript" src="webfxjs/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="webfxjs/calendar/calendar-en.js"></script>
<style type="text/css"> @import url("webfxjs/calendar/calendar-system.css"); </style>




</head>

<body bgcolor="#EAE9E8" text="#000000" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 link="#000000" vlink="#000000" alink="#000000"  >

<script type="text/javascript" src="webfxjs/wz_tooltip.js"></script>
<script type="text/javascript">
<!--
var TSort_Data = new Array ('my_table', 's', 's', 's', 's','s','s', 's', 's', 's','s','s', 's', 's', 's','s','s');
// -->
</script>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<!--	<td align="right" valign="top" colspan="2"><img src="pics/UfisLogo.png" alt="" height="100" border="0"></td>-->
	<td align="right" valign="top" colspan="3"><img src="pics/top.gif"  alt="" border="0"></td>
</tr>
<!--<tr>
	<td  align="right" valign="top" background="pics/bar.gif">
	&nbsp;</td>
</tr>
<tr>
	<td valign="top"><img src="pics/dot.gif" widtd="1" height="10" alt="" border="0"></td>
</tr>-->
<tr>
	<td width="200"><font class="Normal"><strong>Welcome {UserName}</stong></font></td>
	
<form name="DutyRosterExportForm" action="{PHP_SELF}" metdod="get">
<input type="hidden" name="debug" value="{debug}">
<input type="hidden" name="airline" value="{airline}">
<input type="hidden" name="flno" value="{flno}">
<input type="hidden" Name="city" value="{city}">
<input type="hidden" Name="todateplus" value="{todateplusSS}">
<input type="hidden" Name="fromdateMonth" value="{fromdateMonth}">
<input type="hidden" Name="fromdateDay" value="{fromdateDay}">
<input type="hidden" Name="fromdateYear" value="{fromdateYear}">
<input type="hidden" Name="fromdateHour" value="{fromdateHour}">
<input type="hidden" Name="fromdateMin" value="{fromdateMin}">
<input type="hidden" Name="PrmStatus" value="{PrmStatus}">
<input type="hidden" Name="ADID" value="{ADID}">
<input type="hidden" Name="pname" value="{pname}">

<input type="hidden" Name="ExportXls" value="True">
<!--BeginExport-->
		<td  width ="80%" align="right"><input type="submit" value="Export To Excel" ></td>
<!--EndExport-->
</form>
<form name="DutyRosterLogOutForm" action="index.php" metdod="post">
		<td align="right"><input type="submit" value="Log Out"></td>

</form>
</tr>
</table>
<br>
<form name="PrmForm" action="{PHP_SELF}" metdod="get">
<input type="hidden" name="debug" value="{debug}">
<center>
<table  border="0" cellspacing="0" cellpadding="0">
	
	

	<tr>
		<td>&nbsp;</td>
		<td><font class="Normal"><strong>Choose TimeFrame : </strong></font></td>
		<td>
		
		<table>
		<tr>
			<td valign="top">
			<table border="1" cellspacing="0" cellpadding="0">
				<tr>
						<td align="center"><font class="normal">From Date (MM/DD/YYYY)</font></td>
				</tr>
				<tr>
					<td><font class="normal">Date:</font><input type="text" name="fromdateMonth" value="{fromdateMonth}" size="2">/<input type="text" name="fromdateDay" value="{fromdateDay}" size="2">/<input type="text" name="fromdateYear" value="{fromdateYear}" size="4"><br>
					<font class="normal">Time:</font><input type="text" name="fromdateHour" value="{fromdateHour}" size="2">:<input type="text" name="fromdateMin" value="{fromdateMin}" size="2"><font class="normal">&nbsp;&nbsp;(HH:MM)</font></td>
				</tr>
			</table>
			</td>
			<td valign="top">
			<table border="1" cellspacing="0" cellpadding="0">
				<tr>
						<td align="center"><font class="normal">Hours Time Frame (+h)</font></td>
				</tr>
				<tr>
					<td height="50" width="150" align="center"><font class="normal">Hours Frame:</font><select name="todateplus">
					<!--BeginTDplus-->	
					<option value="{todateplus}" {todateplusS}>{todateplusD}

					<!--EndTDplus-->
					</select><br>
					<img src="pics/dot.gif" width="150" height="1" alt="" border="0">
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td colspan="2"><img src="pics/dot.gif" width="1" height="10" alt="" border="0"></td>
		</tr>
		<tr>
			<td><font class="normal">Airline:</font><input type="text" name="airline" value="{airline}" size="3"><font class="normal">&nbsp;&nbsp;No</font><input type="text" name="flno" value="{flno}" size="3"></td>
			<td><font class="normal">PRM Req  Status:</font><select name="PrmStatus">
				<option value="Open" {PrmOpen}>Open
				<option value="Close"  {PrmClose}>Close
				<option value="Open/Close"  {PrmBoth}>Both
				</select><br>
                              <font class="normal">Passenger Name : <input name="pname" value="{pname}" type=text" size="10"></font>
                        </td>
		</tr>
		</table>
		
		
		
		</td>
		<td>&nbsp;</td>

		<td colspan="2"><input type="submit" value="Search"></td>
	
</form>	
	</tr>
	<tr>
		<td colspan="40"><hr></td>
	</tr>

</table>

<table border="1" cellspacing="0" cellpadding="0"  class="sortable" id="my_table">
<THEAD>
	<tr>
		<td class="TDStandardTitle">Id</TD>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('PAX Name')" onmouseout="UnTip()">Name</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Gender')" onmouseout="UnTip()">G</a></td>
                <td class="TDStandardTitle"><a href="#" onmouseover="Tip('PAX Schedule Arrival Time')" onmouseout="UnTip()">PAX Sch Arr</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('PAX Actual Arrival Time')" onmouseout="UnTip()">PAX Act Arr</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('PAX Actual Close  Time')" onmouseout="UnTip()">Close Time</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('PRM Type')" onmouseout="UnTip()">PRM-Type</a></td>                
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Wheel Chair Needed (O the PAX has its own)')" onmouseout="UnTip()">WCh Needed</a></td>
                <td class="TDStandardTitle"><a href="#" onmouseover="Tip('Ambulift Needed')" onmouseout="UnTip()">Amb Needed</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Arrival Location Point')" onmouseout="UnTip()">Arr Location</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Flight Number')" onmouseout="UnTip()">FLNO</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Transfer Flight Number')" onmouseout="UnTip()">Transfer FLNO</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Parking Position')" onmouseout="UnTip()">Position</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Flight Gate Number')" onmouseout="UnTip()">Gate</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Flight Checkin From To')" onmouseout="UnTip()">CIC From - To</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Flight Type (Arrival , Departure)')" onmouseout="UnTip()">A/D</a></td>
		<td class="TDStandardTitle"><a href="#" onmouseover="Tip('Flight Schedule Time')" onmouseout="UnTip()">STA/STD</a></td>
	</tr>
</THEAD>	
<TBODY>
<!--BeginResults-->

	<tr>
		<td class="TD{cssID}">{ID}</td>
		<td class="TD{cssName}">{Name}</td>
		<td class="TD{cssG}">{G}</td>
                <td class="TD{cssArrTime}">{ScheTime}</td>
		<td class="TD{cssArrTime}">{ArrTime}</td>


<form name="DutyRosterCloseTime{rows}" id="DutyRosterCloseTime{rows}" action="{PHP_SELF}" metdod="get">
<input type="hidden" name="debug" value="{debug}">
<input type="hidden" name="airline" value="{airline}">
<input type="hidden" name="flno" value="{flno}">
<input type="hidden" Name="city" value="{city}">
<input type="hidden" Name="todateplus" value="{todateplusSS}">
<input type="hidden" Name="fromdateMonth" value="{fromdateMonth}">
<input type="hidden" Name="fromdateDay" value="{fromdateDay}">
<input type="hidden" Name="fromdateYear" value="{fromdateYear}">
<input type="hidden" Name="fromdateHour" value="{fromdateHour}">
<input type="hidden" Name="fromdateMin" value="{fromdateMin}">
<input type="hidden" Name="PrmStatus" value="{PrmStatus}">
<input type="hidden" Name="ADID" value="{ADID}">
<input type="hidden" Name="urno" value="{urno}">
<input type="hidden" Name="pname" value="{pname}">
<input type="hidden" Name="x" value="{rows}">
                <td class="TD{css}">
{CloseValue}</td>
{CloseValueJS}

</form>
		<td class="TD{cssPRMType}">{PRMType}</td>                
		<td class="TD{cssWheelC}">{WheelC}</td>
<form name="DutyRosterAbul{rows}" id="DutyRosterAbul{rows}" action="{PHP_SELF}" metdod="get">
<input type="hidden" name="debug" value="{debug}">
<input type="hidden" name="airline" value="{airline}">
<input type="hidden" name="flno" value="{flno}">
<input type="hidden" Name="city" value="{city}">
<input type="hidden" Name="todateplus" value="{todateplusSS}">
<input type="hidden" Name="fromdateMonth" value="{fromdateMonth}">
<input type="hidden" Name="fromdateDay" value="{fromdateDay}">
<input type="hidden" Name="fromdateYear" value="{fromdateYear}">
<input type="hidden" Name="fromdateHour" value="{fromdateHour}">
<input type="hidden" Name="fromdateMin" value="{fromdateMin}">
<input type="hidden" Name="PrmStatus" value="{PrmStatus}">
<input type="hidden" Name="ADID" value="{ADID}">
<input type="hidden" Name="urno" value="{urno}">
<input type="hidden" Name="pname" value="{pname}">
<input type="hidden" Name="x" value="{rows}">
                <td class="TD{cssPRMType}">{abul}</td>

</form>
                
		<td class="TD{cssArrLoc}">{ArrLoc}</td>
		<td class="TD{cssFlno}">{Flno}</td>
		<td class="TD{cssFlno}">{TFlno}</td>
		<td class="TD{cssPST}">{PST}</td>
		<td class="TD{cssGate}">{Gate}</td>
		<td class="TD{cssCheckin}">{Checkin}</td>
		<td class="TD{cssADID}">{ADID}</td>
		<td class="TD{cssST}">{ST}</td>
		
	</tr>
<!--EndResults-->
</TBODY>
</table>
</center>




<!--BeginPerf-->
<div onmouseover="tdis.style.overflow='visible';" onmouseout="tdis.style.overflow='hidden';" class="moveme" style="position: relative;overflow:hidden;widtd:80px;height:18px;z-index:20;BORDER:black 1px solid;BACKGROUND-COLOR:beige">
	<font class="TrHeader">Performance:</font><br>
	<div style="widtd:550px;BORDER:black 1px solid;BACKGROUND-COLOR:beige">
		{PerfOutPut}
	</div>
</div>
<!--EndPerf-->
</body>
</html>

<!--End Footer-->
<!-- END: RosterSU01.tpl -->