﻿/*Wrapper for Arrival Apron Grid*/
.WrapperDivArrApr {
    width:990px;height:660px;border: 1px solid black;
}        
.WrapperDivArrApr TH {
    position:relative;
}
.WrapperDivArrApr TR 
{
    /* Needed for IE */
    height:0px;
} 

/*Wrapper for Arrival Baggage Grid*/
.WrapperDivArrBag {
    width:870px;height:660px;border: 1px solid black;
}        
.WrapperDivArrBag TH {
    position:relative;
}
.WrapperDivArrBag TR 
{
    /* Needed for IE */
    height:0px;
} 

/*Wrapper for Departure Apron Grid*/
.WrapperDivDepApr {
    width:900px;height:660px;border: 1px solid black;
}        
.WrapperDivDepApr TH {
    position:relative;
}
.WrapperDivDepApr TR 
{
    /* Needed for IE */
    height:0px;
} 

/*Wrapper for Departure Baggage Grid*/
.WrapperDivDepBag {
    width:605px;height:660px;border: 1px solid black;
}        
.WrapperDivDepBag TH {
    position:relative;
}
.WrapperDivDepBag TR 
{
    /* Needed for IE */
    height:0px;
} 



/*Wrapper for CPM Priority Grid*/
.WrapperDivCpmPriority {
    width:455px;height:350px;border: 1px solid black;
}        
.WrapperDivCpmPriority TH {
    position:relative;
}
.WrapperDivCpmPriority TR 
{
    /* Needed for IE */
    height:0px;
} 

/*Wrapper for Belt Grid*/
.WrapperDivBeltAdmin {
    width:600px;height:300px;border: 1px solid black;
}        
.WrapperDivBeltAdmin TH {
    position:relative;
}
.WrapperDivBeltAdmin TR 
{
    /* Needed for IE */
    height:0px;
} 
