﻿body 
{
	background-color : Silver ;
	color : Black;	
}

.Logo
{
	background-color : Silver ;
	color : Yellow;
}

.Master
{
	background-color : Silver ;
	color : Yellow;
}

.cssMenuSelected
{
	background-color : Silver ;
	color : Blue;
	border-color : Black;
	border-style:solid;
	border-spacing:1px;
	border-width:thin;
}

.cssMenuItemDynamic
{
	background-color : Yellow ;
	color : Blue;
}

.cssMenuDynamic
{
	background-color : Silver;
	color : Blue;
}

.cssMenuHover
{
	background-color : Silver ;
	color : Black;
}

.cssMenuSub
{
	background-color : Silver ;
	color : Blue;
}

.cssMenuItem
{
	background-color : Silver ;
	color : Blue;
}

.HighLightMAB
{
	background-color : Red ;
	color : Black;
}

.Heading
{
	background-color : Silver ;
	color : Black;
	font-size : larger;
	font-weight:bold;
}

.SubHeading
{
	background-color : Silver ;
	color : Black;
	font-size:medium;
}

.BMPass
{
	background-color : Green ;
	color : Black;
	font-size:medium;
}

.BMFail
{
	background-color : Red ;
	color : Black;
	font-size:medium;
}

.NewMsg
{
	background-color : Red ;
	color : Black;
	font-size:medium;
}

.NoNewMsg
{
	background-color : Green ;
	color : Black;
	font-size:medium;
}

.ReadMsg
{
	font-weight :normal;
}

.UnReadMsg
{
	font-weight :bold;
}

.GvDefault
{
	background-color : Green ;
}

.GvAlternate
{
	background-color : White ;
}

.GvHeader
{
	background-color : Black ;
	color : White;
	font-size:medium;
	font-weight :bold;
}